<template>
	<view class="EditPwd">
		<view class="title">修改密码</view>
		<view class="text">
			<text>密码为8-16位，</text>
			<text>须包含数字、字母、符号中至少1种元素</text>
		</view>
		<view class="input"><input type="text" placeholder="请输入旧密码" placeholder-style="color: #c4c4c6" /></view>
		<view class="input"><input type="text" placeholder="请输入新密码" placeholder-style="color: #c4c4c6" /></view>
		<view class="forget_pwd"><text>忘记旧密码</text></view>
		<button>确定</button>
	</view>
</template>

<script>
export default {
	components: {},
	data() {
		return {};
	},
	computed: {},
	watch: {},
	onLoad() {},
	onReady() {},
	methods: {}
};
</script>

<style lang="scss">
page {
	background-color: #fff;
}
.EditPwd {
	padding: 0 55rpx;
	.title {
		font-size: 48rpx;
		color: #282828;
		margin-top: 60rpx;
	}
	.text {
		display: flex;
		flex-flow: column;
		font-size: 28rpx;
		color: #999999;
		line-height: 40rpx;
		margin-top: 43rpx;
	}
	.input {
		height: 150rpx;
		line-height: 150rpx;
		overflow: hidden;
		border-bottom: 0.5rpx solid #cccccc;
		input {
			height: 100%;
			line-height: 100%;
			font-size: 36rpx;
			color: #333333;
		}
	}
	.forget_pwd {
		font-size: 28rpx;
		color: #c4c4c6;
		margin-top: 33rpx;
	}
	button {
		margin-top: 52rpx;
		height: 88rpx;
		line-height: 88rpx;
		background-color: #ff5d16;
		box-shadow: 0rpx 8rpx 20rpx 0rpx rgba(255, 93, 22, 0.31);
		border-radius: 10rpx;
		font-size: 36rpx;
		letter-spacing: 10rpx;
		color: #ffffff;
	}
}
</style>
