<template>
	<view>
		<u-navbar :is-back="true" title="采集详情" :is-fixed="true" :background="navbarBg" title-color="#ffffff" back-icon-color="#ffffff"></u-navbar>
		<view class="invoice_detail">
			<view class="invoices_box">
				<text class="title">发票采集</text>
				<view class="uploads_box">
					<sunui-upimg @change="getImageInfo1" :upload_auto="true" ref="upimg1" :upload_count="5" :upload_img_wh="upload_img_wh"></sunui-upimg>
				</view>
				<text class="title">发票类型</text>
				<view class="type_list">
					<text :class="activeClass == index ? 'active' : ''" v-for="(item, index) in type_list" @click="getItem(item, index)">{{ item }}</text>
				</view>
			</view>
			<view class="tip">
				<text class="ff5d16">温馨提示：</text>
				<text class="gray">点击提交，发票信息会传到账务系统的发票管理中，可以据此生成凭证。</text>
			</view>
			<button class="submit-btn">提交</button>
		</view>
	</view>
</template>

<script>
import sunUiUpimg from '@/components/sunui-upimg/sunui-upimg.vue';
export default {
	components: {
		'sunui-upimg': sunUiUpimg
	},
	data() {
		return {
			navbarBg: {
				background: '#fe8754'
			},
			upload_img_wh: 'width:142rpx;height:142rpx;',
			serviceArr2: [],
			serviceArr3: [
				{
					path:
						'https://dss0.bdstatic.com/6Ox1bjeh1BF3odCf/it/u=1537304011,3995405403&fm=74&app=80&f=JPEG&size=f121,140?sec=1880279984&t=97b7ba208086526f1a92f5294f1a68a3'
				}
			],
			serviceArr4: [
				{
					path:
						'https://dss0.bdstatic.com/6Ox1bjeh1BF3odCf/it/u=1537304011,3995405403&fm=74&app=80&f=JPEG&size=f121,140?sec=1880279984&t=97b7ba208086526f1a92f5294f1a68a3'
				},
				{
					path: 'https://dss0.baidu.com/73t1bjeh1BF3odCf/it/u=63785387,1979900985&fm=85&s=8015CD304A92909C8F80B180030030EB'
				}
			],
			type_list: ['采购发票', '销售发票', '费用发票'],
			activeClass: 0,
			cover: 'color: #ffe3d8;'
		};
	},
	computed: {},
	watch: {},
	onLoad() {
		// 数据更新不及时时可以在下次DOM更新时使用
		this.$nextTick(function() {
			this.getInfo();
		});
		// this.getInfo();
	},
	onReady() {},
	methods: {
		getItem(value, index) {
			this.activeClass = index;
		},
		async getInfo() {
			await uni.request({
				url: 'http://www.pbdpw.com/info.php',
				method: 'GET',
				data: {},
				success: res => {
					if (res.data.status == 'ok') {
						this.serviceArr2 = res.data.data;
						console.log('服务器返回值：', JSON.stringify(res.data.data));
					}
				}
			});
		},
		getImageInfo1(e) {
			console.log('图片返回1：', e);
		},
		getImageInfo2(e) {
			console.log('图片返回2：', e);
		},
		getImageInfo3(e) {
			console.log('图片返回3：', e);
		},
		//下一步
		next() {
			uni.navigateTo({
				url: '/pages/certificates/certificates'
			});
		}
	}
};
</script>

<style lang="scss">
page {
	background-color: #fcfafc;
}
.invoice_detail {
	padding: 0 36rpx;
	width: 100%;
	height: 400rpx;
	background-image: linear-gradient(#fe8754, #fcfafc);
	.invoices_box {
		padding: 46rpx 35rpx;
		border-radius: 10rpx;
		background-color: #fff;
		box-shadow: 0rpx 4rpx 13rpx 0rpx rgba(255, 93, 22, 0.1);

		.title {
			font-size: 32rpx;
			font-weight: bold;
			color: #333333;
		}

		.uploads_box {
			display: flex;
			justify-content: space-between;
			margin: 55rpx 0;
		}

		.type_list {
			display: flex;
			justify-content: space-between;
			margin-top: 50rpx;

			text {
				width: 186rpx;
				height: 62rpx;
				line-height: 62rpx;
				background-color: #f4f4f4;
				border-radius: 5rpx;
				font-size: 26rpx;
				color: #333333;
				text-align: center;
			}

			.active {
				background-color: #ffece4;
				color: #ff5d16;
			}
		}
	}
	.tip {
		width: 579rpx;
		margin: 0 auto;
		font-size: 24rpx;
		text-align: center;
		line-height: 45rpx;
		margin-top: 59rpx;
		text {
			&:first-child {
				color: #ff5d16;
			}
			&:last-child {
				color: #999999;
			}
		}
	}
	.submit-btn {
		width: 638rpx;
		height: 88rpx;
		line-height: 88rpx;
		background-color: #ff5d16;
		box-shadow: 0rpx 8rpx 20rpx 0rpx rgba(255, 65, 22, 0.31);
		border-radius: 10rpx;
		font-size: 36rpx;
		color: #ffffff;
		position: fixed;
		bottom: 93rpx;
		left: 50%;
		transform: translateX(-50%);
	}
}
</style>
