<template>
	<view class="vault_seting">
		<u-navbar :is-back="true" title="小金库设置" title-size="36rpx" style="font-weight: bold;" :is-fixed="true" title-color="#282828" back-icon-color="#282828"></u-navbar>
		<view class="box" @click="set_cashpwd">
			<text>设置提现密码</text>
			<text class="iconfont">&#xe7d9;</text>
		</view>
	</view>
</template>

<script>
export default {
	components: {},
	data() {
		return {};
	},
	computed: {},
	watch: {},
	onLoad() {},
	onReady() {},
	methods: {
		set_cashpwd() {
			uni.navigateTo({
				url: '/pages/Set_cash_pwd/Set_cash_pwd'
			});
		}
	}
};
</script>

<style lang="scss">
.box {
	height: 110rpx;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 0 35rpx;
	background-color: #fff;
	margin-top: 20rpx;
	text {
		font-size: 34rpx;
		color: #333333;
		&:last-child {
			font-size: 28rpx;
			color: #999999;
		}
	}
}
</style>
