<template>
	<view class="orderDetail">
		<u-navbar :is-back="true" title="订单详情" title-size="36rpx" style="font-weight: bold;" :is-fixed="true" title-color="#282828" back-icon-color="#282828"></u-navbar>
		<view class="item">
			<view class="top">
				<view class="box">
					<text class="iconfont">&#xe601;</text>
					<text>2020-04</text>
					<text></text>
					<text>已完成</text>
				</view>
				<view class="status_logo"></view>
			</view>
		</view>
		<view class="item">
			<view class="top">
				<view class="box">
					<text class="iconfont">&#xe601;</text>
					<text>2020-04</text>
					<text></text>
					<text>已完成</text>
				</view>
				<view class="status_logo"></view>
			</view>
			<view class="bottom">提醒</view>
		</view>
	</view>
</template>

<script>
export default {
	components: {},
	data() {
		return {};
	},
	computed: {},
	watch: {},
	onLoad() {},
	onReady() {},
	methods: {}
};
</script>

<style lang="scss">
.orderDetail {
	padding: 32rpx 36rpx;

	.item {
		padding: 23rpx 36rpx;
		background-color: #fff;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		box-shadow: 0rpx 8rpx 27rpx 0rpx rgba(187, 187, 187, 0.24);
		border-radius: 10rpx;
		margin-bottom: 20rpx;
		.top {
			width: 100%;
			display: flex;
			justify-content: space-between;

			.box {
				display: flex;
				align-items: center;

				text {
					vertical-align: middle;

					&:first-child {
						font-size: 28rpx;
						color: #ff9816;
						margin-top: 4rpx;
						margin-right: 33rpx;
					}

					&:nth-child(2) {
						font-size: 28rpx;
						line-height: 28rpx;
						color: #999999;
					}

					&:nth-child(3) {
						width: 3rpx;
						height: 26rpx;
						background-color: #cccccc;
						margin-left: 26rpx;
					}

					&:last-child {
						font-size: 30rpx;
						color: #ff5d16;
						margin-left: 32rpx;
						font-weight: bold;
					}
				}
			}

			.status_logo {
				width: 86rpx;
				height: 86rpx;
				border-radius: 50%;
				background: url('~@/static/images/orderDetail/confirm.png') no-repeat;
				background-size: 100% 100%;
				flex-shrink: 0;
			}
		}
		.bottom {
			width: 606rpx;
			height: 82rpx;
			line-height: 82rpx;
			font-size: 30rpx;
			color: #ffffff;
			text-align: center;
			background-color: #ff5d16;
			box-shadow: 0rpx 8rpx 20rpx 0rpx rgba(255, 93, 22, 0.31);
			border-radius: 10rpx;
			margin-top: 15rpx;
		}
	}
}
</style>
