<script>
	export default {  
		onLaunch: function() {
			console.log('App Launch')
			// #ifdef APP-PLUS
			plus.screen.lockOrientation('portrait-primary'); //默认竖屏
			/* 推送 */
			plus.push.addEventListener('click',function(msg) {
				console.log(msg)
			})
			
			plus.push.addEventListener('receive',function(msg) {
				console.log(msg)
			})


			// #endif
		},
		onShow: function() {
			console.log('App Show')
		},
		onHide: function() {
			console.log('App Hide')
		}
	}
</script>

<style>
	/* 引入阿里字体图标 */
	/* #ifndef APP-NVUE || APP-PLUS-NVUE */
		@import url("./static/iconfont/iconfont.css");
		.u-collapse-head {
			padding: 0 !important;
			border-bottom: 0.5rpx solid #e7e7e7;
		}
		.u-collapse-title {
			padding: 30rpx 34rpx !important;
		}
		.u-arrow-down-icon {
			margin-right: 34rpx !important;
		}
		/* 全局顶部导航栏标题样式 */
		.u-title {
			font-weight: bold;
			font-size: 38rpx !important;
		}
		/* 全局顶部导航栏返回图标样式 */
		.uicon-arrow-left {
			font-size: 36rpx !important;
		}
		/* 公共页面样式 */
		.set-btn {
			font-size: 40rpx;
			margin-right: 36rpx;
			color: #ffffff;
		}
		.u-title {
			font-weight: normal !important;
		}
	/* #endif */
</style>
