/* 
	uniapp全局默认样式
	author: StarSky
	date: 2020-9-29
	des: 用于vue和nvue全局样式复用
*/

/* 设计图主题色 */
$globalColor: #333; //字体颜色
$globalThemeColor: #ff5d16; //背景主题色  

/* vue和nvue公共混入样式 */

/* 宽高样式 */
@mixin wh($width, $height) {
	width: $width;
	height: $height;
}

/* vue样式 */
/* #ifndef APP-NVUE || APP-PLUS-NVUE */

page {
	background-color: #f3f5f8;
}

/* 全局盒子样式 */
cover-view,
view,
textarea {
	box-sizing: border-box;
}

/* 图片样式 */
image {
	will-change: transform;
	flex-shrink: 0;
}

/* 去掉APP输入框默认黄色背景 */
input:-webkit-autofill,
textarea:-webkit-autofill {
	transition: background-color 5000s ease-in-out 0s;
	background-color: #faffbd;
	background-image: none;
	color: #000;
	-webkit-box-shadow: 0 0 0 1000px white inset;
}
input {
	caret-color: #3b82fc;
}
/* scroll-view背景色 */
.uni-scroll-view {
	background-color: #fff;
}
.uni-scroll-view::-webkit-scrollbar {
	/* 隐藏滚动条，但依旧具备可以滚动的功能 */
	display: none;
	width: 0 !important;
	height: 0 !important;
	-webkit-appearance: none;
	background: transparent;
}
/* 按钮按下的效果 */
.button-hover {
	opacity: 0.7;
	transform: translate(2rpx, 2rpx);
}

/* flex布局 */
@mixin dl($flex:flex, $justify: flex-start, $align: center) {
	display: $flex;
	justify-content: $justify;
	align-items: $align;
}

/* 多列布局 */
@mixin col($count, $gap, $span, $avoid) {
	column-count: $count;
	column-gap: $gap;
	column-span: $span; //代表横向将标题合并，跨列合并。
	column-break-inside: $avoid;
}

/* uview-ui全部样式 */
@import 'uview-ui/theme.scss';

/* #endif */

/* nvue样式 */
/* #ifdef APP-NVUE || APP-PLUS-NVUE */

/* flex布局 */
@mixin dl($Arranged: row, $justify: flex-start, $align: center) {
	flex-direction: $Arranged;
	justify-content: $justify;
	align-items: $align;
}

/* #endif */

