<template>
	<view class="order" @touchmove.stop="">
		<u-navbar :is-back="true" title="我的订单" title-size="36rpx" :is-fixed="true" title-color="#282828" back-icon-color="#282828" style="font-weight: bold;"></u-navbar>
		<hr-pull-load
			@refresh="refresh"
			@loadMore="loadMore"
			:height="windowHeight + 'px'"
			:pullHeight="50"
			:maxHeight="100"
			:lowerThreshold="100"
			:bottomTips="bottomTips"
			:isTab="false"
			ref="hrPullLoad"
			@scroll="listenScroll"
			:scrollTop="scrollTop"
			:upDownBgColor="upDownBgColor"
			pullDownBgColor="#f3f5f8"
		>
		<view class="order_list">
			<view class="item" v-for="(item, index) in list" :key="index" @click="goDetail(1)">
				<view class="top">
					<text class="iconfont">&#xe601;</text>
					<text>订单时间：{{item.time}}</text>
				</view>
				<view class="center">做账公司：{{item.name}}</view>
				<view class="bottom">
					<view class="price">
						<text>已付金额 ：</text>
						<text>¥ {{item.price}}</text>
					</view>
					<text class="status" :class="[item.type === 1 ? 'red' : item.type === 2 ? 'orgin' : item.type === 3 || item.type === 4 ? 'gray' : '']">{{type[index]}}</text>
				</view>
			</view>
		</view>
		</hr-pull-load>
		<u-back-top :scroll-top="scrollTop" @onScroll="gotop" top="600"></u-back-top>
	</view>
</template>

<script>
	import uBackTop from '../../components/u-back-top/u-back-top'
export default {
	components: {
		uBackTop
	},
	data() {
		return {
			list: [{
				price: '4000',
				type: 1,
				time: '4月21日 12:30',
				name: '北京慧思背书科技有限公司'
			},{
				price: '4000',
				type: 2,
				time: '4月21日 12:30',
				name: '北京动力天下科技有限公司'
			},{
				price: '4000',
				type: 3,
				time: '4月21日 12:30',
				name: '北京创蓝科技有限公司'
			},{
				price: '4000',
				type: 4,
				time: '4月21日 12:30',
				name: '北京云锐文化传媒有限公司'
			}],
			windowHeight: 0,
			bottomTips: '',
			currentPage: 1,
			scrollTop: 0,
			upDownBgColor: '#f3f5f8'
		};
	},
	computed: {
		type() {
			return this.list.map((item) => {
				let {type} = item;
				return type === 1 ? '进行中' : type === 2 ? '待支付' : type === 3 ? '已取消' : '已退款';
			})
		}
	},
	onLoad() {
		this.getExampleData(1);
	},
	async onReady() {
		var that = this;
		let navbar = await that.$commonFun.getElSize('u-navbar-inner');
		console.log(navbar)
		uni.getSystemInfo({
			success: res => {
				that.windowHeight = res.windowHeight - navbar.height - res.statusBarHeight;
			}
		});
	},
	methods: {
		gotop(e) {
			this.scrollTop = e;
		},
		listenScroll(e) {
			// this.scrollTop = e;
		},
		goDetail() {},
		goback() {
			console.log("123143")

		},
		getExampleData(type) {
			/* type 1代表下拉刷新 2代表加载更多 */
			setTimeout(() => {
				/* 接口获取到的数据 */
				let data = [
					{
						price: '4000',
						type: 1,
						time: '4月21日 12:30',
						name: '北京慧思背书科技有限公司'
					},{
						price: '4000',
						type: 2,
						time: '4月21日 12:30',
						name: '北京动力天下科技有限公司'
					},{
						price: '4000',
						type: 3,
						time: '4月21日 12:30',
						name: '北京创蓝科技有限公司'
					},{
						price: '4000',
						type: 4,
						time: '4月21日 12:30',
						name: '北京路途文化传媒有限公司'
					},{
						price: '4000',
						type: 4,
						time: '4月21日 12:30',
						name: '北京紫云文化传媒有限公司'
					},{
						price: '4000',
						type: 4,
						time: '4月21日 12:30',
						name: '北京笑笑文化传媒有限公司'
					},
				];
				/* 拿到数据后的处理 */
				if (data.length > 0) {
					if (type == 1) {
						this.list = data;
					} else if (type == 2) {
						this.list = this.list.concat(data);
					}
					/* 这里的20是每次调用后台接口返回的最大数据条数，可以自定义 */
					if (this.list.length < 3) {
						this.bottomTips = 'nomore';
					} else {
						this.bottomTips = 'more';
					}
				} else {
					if (type == 1) {
						this.list = [];
					} else if (type == 2) {
						this.currentPage--;
					}
					this.bottomTips = 'nomore';
				}
				/* 这里300毫秒的延时，主要是为了优化视觉效果 */
				setTimeout(() => {
					this.$refs.hrPullLoad.reSet();
				}, 300);
			}, 500);
		},
		//自定义上拉加载更多
		loadMore() {
			this.currentPage++;
			this.bottomTips = 'loading';
			this.getExampleData(2);
		},
		//自定义下拉刷新
		refresh() {
			this.currentPage = 1;
			this.getExampleData(1);
		}
	}
};
</script>

<style lang="scss">
.order {
	padding: 0 36rpx;
}
.order_list {
	background-color: #f3f5f8;
	padding-top: 32rpx;
	.item {
		background-color: #fff;
		padding: 40rpx 36rpx;
		padding-bottom: 22rpx;
		border-radius: 10rpx;
		margin-bottom: 20rpx;
		.top {
			display: flex;
			align-items: center;
			text {
				vertical-align: middle;
				&:first-child {
					font-size: 26rpx;
					color: #cccccc;
					margin-right: 28rpx;
					margin-top: 6rpx;
				}

				&:last-child {
					font-weight: bold;
					font-size: 30rpx;
					color: #333333;
				}
			}
		}

		.center {
			font-size: 26rpx;
			color: #999999;
			margin-top: 27rpx;
			padding-bottom: 32rpx;
			border-bottom: 0.5rpx solid #cccccc;
		}

		.bottom {
			display: flex;
			justify-content: space-between;
			margin-top: 25rpx;
			.price {
				text {
					&:first-child {
						font-size: 26rpx;
						color: #ff5d16;
					}

					&:last-child {
						font-size: 30rpx;
						color: #ff5d16;
						font-weight: bold;
					}
				}
			}

			.status {
				width: 110rpx;
				height: 44rpx;
				line-height: 44rpx;
				border-radius: 10rpx;
				font-size: 24rpx;
				color: #FFFFFF;
				text-align: center;
			}
			.red {
				background-color: #ff5d16;
			}
			.orgin {
				background-color: #ffa200;
			}
			.gray {
				background-color: #cccccc;
			}
		}
	}
}
</style>
