<template>
	<view class="login">
		<view class="inner">
			<view class="title">
				<text class="title-text">欢迎来到左邻会计</text>
			</view>
			<view class="input_box">
				<input type="number" maxlength="11" placeholder="请输入手机号" placeholder-style="color: #c4c4c6;" class="phone-input" v-model="phone" @input="listen_input" />
				<text class="clearVal iconfont" v-if="isclear" @click="clearVal">&#xe60b;</text>
			</view>
			<button type="default" hover-class="button-hover" class="login_btn" @click="submit">确 定</button>
			<view class="agreement">
				<text>点击"确认"按钮即视为阅读并同意</text>
				<text @click="click_agreement()">《用户协议》</text>
			</view>
		</view>
	</view>
</template>

<script>
export default {
	components: {},
	data() {
		return {
			phone: '',
			isclear: false //清除输入框按钮
		};
	},
	computed: {},
	watch: {},
	onLoad() {},
	onReady() {},
	methods: {
		//点击登录
		submit() {
			if (this.phone == '') {
				this.$commonFun.msg('请填写手机号！');
			}  else {
				uni.navigateTo({
					url: `/pages/password/password?phone=${this.phone}`
				});
			}
		},
		//点击进入用户协议页面
		click_agreement() {
			uni.navigateTo({
				url: '/pages/agreement/agreement'
			});
		},
		//监听输入框是否清除val
		listen_input() {
			if (this.phone.length > 0) {
				this.isclear = true;
			}
		},
		//清除输入框内容
		clearVal() {
			this.phone = '';
		}
	}
};
</script>

<style lang="scss">
page {
	background-color: #fff;
}
.inner {
	width: 100%;
	position: fixed;
	top: 233rpx;
	left: 0;
	padding: 0 56rpx;
	overflow: hidden;

	.title {
		display: flex;
		align-items: center;
	}
	.title-text {
		height: 48rpx;
		font-size: 48rpx;
		font-weight: normal;
		font-stretch: normal;
		line-height: 48rpx;
		letter-spacing: 1rpx;
		color: #282828;
	}

	.input_box {
		width: 100%;
		display: flex;
		overflow: hidden;
		position: relative;
		margin-top: 103rpx;
		padding: 30rpx 0;
		border-bottom: 0.5rpx solid #cccccc;
		.phone-input {
			flex: 1;
			font-size: 36rpx;
		}

		.clearVal {
			display: inline-block;
			width: 36rpx;
			height: 36rpx;
			border-radius: 50%;
			background: #cbcbcb;
			position: absolute;
			right: 10rpx;
			bottom: 35%;
			font-size: 14rpx;
			text-align: center;
			line-height: 36rpx;
			color: #fff;
		}
	}
	
	.login_btn {
		margin-top: 100rpx;
		height: 88rpx;
		line-height: 88rpx;
		box-shadow: 0rpx 8rpx 20rpx 0rpx rgba(255, 65, 22, 0.31);
		border-radius: 10rpx;
		font-size: 36rpx;
		background-color: #ff5d16;
		color: #FFFFFF;
	}

	.agreement {
		margin-top: 35rpx;

		text {
			line-height: 28rpx;
			font-size: 28rpx;

			&:first-child {
				color: #c4c4c6;
			}

			&:last-child {
				color: #ff5d16;
			}
		}
	}
}
</style>
