<template>
	<view class="emoji">
		<scroll-view scroll-y="true" style="height: 200px;" :show-scrollbar="false">
			<view class="emoji_container">
				<view v-for="(line, i) in list" :key="i" class="emoji_list">
					<view v-for="(im, ix) in line" :key="ix" class="emotion-item" :style="{ width: img_width + 'px' }" @click="clickHandler(im)">
						<image :src="emotion(im)" mode="" style="width: 48rpx; height: 48rpx;"></image>
					</view>
				</view>
			</view>

		</scroll-view>
	</view>
</template>

<script>
export default {
	props: {},

	data() {
		return {
			// 画矩阵
			list: [
				[0, 1, 2, 3, 4, 5, 6, 7],
				[8, 9, 10, 11, 12, 13, 14, 15],
				[16, 17, 18, 19, 20, 21, 22, 23],
				[24, 25, 26, 27, 28, 29, 30, 31],
				[32, 33, 34, 35, 36, 37, 38, 39],
				[40, 41, 42, 43, 44, 45, 46, 47],
				[48, 49, 50, 51, 52, 53, 54, 55],
				[56, 57, 58, 59, 60, 61, 62, 63],
				[64, 65, 66, 67, 68, 69, 70, 71],
				[72, 73, 74, 75, 76, 77, 78, 79],
				[80, 81, 82, 83, 84, 85, 86, 87],
				[88, 89, '', '', '', '', '', '']
			],
			list5: [],
			item: [],
			img_width: 0
		};
	},
	methods: {
		clickHandler(i) {
			let emotion = i;
			this.$emit('emotion', emotion);
		},
		emotion(res) {
			const list = Array.from({ length: 96 }, (v, k) => k);
			let index = list.indexOf(res);
			//  请将此处地址更换为自己服务器的地址
			return `../../static/images/emoji/${index}.png`;
		}
	}
};
</script>

<style lang="scss" scoped>
.emoji {
	width: 100%;
	background-color: #f3f5f8;
	display: flex;
	flex-direction: column;
	.emoji_container {
		flex: 1;
		background-color: #f3f5f8;
		.emoji_list {
			display: flex;
			.emotion-item {
				flex: 1;
				text-align: center;
				cursor: pointer;
				padding: 10upx;
			}
		}
	}

}


</style>
