<template>
	<view class="EditAccount">
		<u-navbar :is-back="true" title="账号与安全" title-size="36rpx" style="font-weight: bold;" :is-fixed="true" title-color="#282828" back-icon-color="#282828"></u-navbar>
		<navigator url="../EditPhone/EditPhone">
			<view class="item" style="margin-top: 20rpx;">
				<view>
					<text>修改手机号</text>
					<text class="iconfont">&#xe7d9;</text>
				</view>
			</view>
		</navigator>
		<navigator url="../EditPwd/EditPwd">
			<view class="item">
				<view style="border: none;">
					<text>修改密码</text>
					<text class="iconfont">&#xe7d9;</text>
				</view>
			</view>
		</navigator>
	</view>
</template>

<script>
export default {
	components: {},
	data() {
		return {};
	},
	computed: {},
	watch: {},
	onLoad() {},
	onReady() {},
	methods: {}
};
</script>

<style lang="scss">
.EditAccount {
	.item {
		line-height: 109rpx;
		padding: 0 35rpx;
		background-color: #fff;
		view {
			border-bottom: 0.5rpx solid #e0e0e0;
			display: flex;
			justify-content: space-between;
			align-items: center;
			text {
				font-size: 34rpx;
				&:first-child {
					color: #333333;
				}
				&:last-child {
					color: #999999;
				}
			}
		}
	}
}
</style>
