<template>
	<view class="CompanyDetails">
				<u-navbar :is-back="true" title="公司详情" title-size="36rpx" style="font-weight: bold;" :is-fixed="true" title-color="#282828" back-icon-color="#282828"></u-navbar>
		<view class="Company_title">
			<image src="" mode="" class="Company_logo"></image>
			<view class="box">
				<text class="title">北京慧思背书</text>
				<view>
					<text>通州区</text>
					<text class="line"></text>
					<text>通州北关</text>
					<text class="line"></text>
					<text>20-50人</text>
					<text class="line"></text>
					<text>互联网</text>
				</view>
			</view>
		</view>
		<view class="Company_info">
			<view class="company_profiles" style="padding-top: 62rpx;">
				<text class="title">公司介绍</text>
				<view class="read-more_box">
					<u-read-more :toggle="true" show-height="175" ref="uReadMore" font-size="28" color="#ff5d16">
						<rich-text :nodes="content" style="font-size: 28rpx;"></rich-text>
					</u-read-more>
				</view>
			</view>
			<view class="company_profiles" style="padding-top: 34rpx;">
				<text class="title">公司照片</text>
				<view class="slideshow">
					<swiper previous-margin="16px" next-margin="16px" circular style="height: 307rpx;">
						<swiper-item v-for="(item, index) in company_banner" :key="index">
							<view class="wrap">
								<image :src="item.image"></image>
							</view>
						</swiper-item>
					</swiper>
				</view>
			</view>
			<view class="company_profiles" style="padding-top: 22rpx;">
				<text class="title">公司地址</text>
				<view class="location" @click="lookmap"></view>
			</view>
			<view class="company_profiles" style="padding-top: 62rpx;">
				<text class="title">公司官网</text>
				<view class="http" @click="copy"><u-link href="http://www.baidu.com" :under-line="true"><text selectable="true">http://www.baidu.com</text></u-link></view>
			</view>
			<view class="company_profiles" style="padding-top: 62rpx;">
				<text class="title">工商信息</text>
				<view class="Registration_Info">
					<text>公司全称&nbsp;&nbsp;&nbsp;北京慧思背书科技发展有限公司</text>
					<text>企业法人&nbsp;&nbsp;&nbsp;李达</text>
					<text>注册时间&nbsp;&nbsp;&nbsp;2008-8-8</text>
					<text>注册资本&nbsp;&nbsp;&nbsp;8888万人民币</text>
					<text class="lookall" @click="lookall">查看全部</text>
				</view>
			</view>
			<button type="default" class="gochat">继续沟通</button>
		</view>
		<view class="mask" v-if="show" :style="{ 'overflow-y': none }">
			<view class="popup">
				<view class="popup-box">
					<view class="top" @tap.stop>
						<image src="" mode=""></image>
						<text>北京慧思背书科技发展有限公司</text>
					</view>
					<view class="info">
						<view class="flex">
							<view class="mr">企业法人</view>
							<view>李达</view>
						</view>
						<view class="flex">
							<view class="mr">注册时间</view>
							<view>2008-8-8</view>
						</view>
						<view class="flex">
							<view class="mr">注册资本</view>
							<view>8888万人民币</view>
						</view>
						<view class="flex">
							<view class="mr">经营状态</view>
							<view>开业</view>
						</view>
						<view class="flex">
							<view class="mr">注册地址</view>
							<view>北京市通州区世界侨商中心7-1栋12层</view>
						</view>
						<view class="flex">
							<view class="mr">
								统一信用
								<br />
								代码
							</view>
							<view>78126837126381723619319</view>
						</view>
						<view class="flex">
							<view class="mr">经营范围</view>
							<view class="w445">
								经营范围是指国家允许企业生产和经营的商品类别、品种及服务项目，反映企业业务活动的内容和生产经营方向，是企业业务活动范围的法律界限，体现企业民事权利能力和行为能力的核心内容
							</view>
						</view>
						<view class="flex">
							<view class="mr">数据来源</view>
							<view>天眼查</view>
						</view>
					</view>
				</view>
				<view class="close iconfont" @click="closePopup">&#xe60b;</view>
			</view>
		</view>
	</view>
</template>

<script>
export default {
	components: {},
	data() {
		return {
			content: '',
			company_banner: [
				{
					image: '../../static/images/CompanyDetails/1.jpg',
					title: '蒹葭苍苍，白露为霜。所谓伊人，在水一方'
				},
				{
					image: '../../static/images/CompanyDetails/2.jpg',
					title: '溯洄从之，道阻且长。溯游从之，宛在水中央'
				},
				{
					image: '../../static/images/CompanyDetails/3.jpg',
					title: '蒹葭萋萋，白露未晞。所谓伊人，在水之湄'
				}
			],
			show: false,
			none: ''
		};
	},
	computed: {},
	watch: {},
	onLoad() {
		// 模拟后端请求
		setTimeout(() => {
			(this.content = `山不在高，有仙则名。水不在深，有龙则灵。斯是陋室，惟吾德馨。
				苔痕上阶绿，草色入帘青。谈笑有鸿儒，往来无白丁。可以调素琴，阅金经。
				无丝竹之乱耳，无案牍之劳形。南阳诸葛庐，西蜀子云亭。孔子云：何陋之有？山不在高，有仙则名。水不在深，有龙则灵。斯是陋室，惟吾德馨。
				苔痕上阶绿，草色入帘青。谈笑有鸿儒，往来无白丁。可以调素琴，阅金经。
				无丝竹之乱耳，无案牍之劳形。南阳诸葛庐，西蜀子云亭。孔子云：何陋之有？山不在高，有仙则名。水不在深，有龙则灵。斯是陋室，惟吾德馨。
				苔痕上阶绿，草色入帘青。谈笑有鸿儒，往来无白丁。可以调素琴，阅金经。
				无丝竹之乱耳，无案牍之劳形。南阳诸葛庐，西蜀子云亭。孔子云：何陋之有？山不在高，有仙则名。水不在深，有龙则灵。`),
				// 请注意上方已在组件中添加ref-uReadMore
				this.$nextTick(() => {
					this.$refs.uReadMore.init();
				});
		});
	},
	onReady() {},
	methods: {
		//查看公司位置
		lookmap() {
			uni.openLocation({
				latitude: 39.904983,
				longitude: 116.427287,
				success: function(res) {
					console.log('位置名称：' + res.name);
					console.log('详细地址：' + res.address);
					console.log('纬度：' + res.latitude);
					console.log('经度：' + res.longitude);
				}
			});
		},
		//复制官网或打开
		copy() {
			plus.runtime.openURL('http://www.baidu.com');
		},
		//查看全部
		lookall() {
			this.show = true;
		},
		closePopup() {
			this.show = false;
		}
	}
};
</script>

<style lang="scss">
page {
	background-color: #fff;
}
.CompanyDetails {
	.Company_title {
		padding: 49rpx 36rpx;
		display: flex;
		border-bottom: 20rpx solid #f3f5f8;

		.Company_logo {
			width: 119rpx;
			height: 119rpx;
			border-radius: 10rpx;
			background-color: #0097e5;
		}

		.box {
			margin-left: 26rpx;

			.title {
				font-size: 36rpx;
				color: #282828;
				font-weight: bold;
			}

			view {
				display: flex;
				align-items: center;
				margin-top: 30rpx;

				text {
					font-size: 24rpx;
					color: #666666;
				}

				.line {
					display: block;
					width: 3rpx;
					height: 22rpx;
					background-color: #cccccc;
					margin-left: 26rpx;
					margin-right: 26rpx;
				}
			}
		}
	}

	.Company_info {
		padding: 0 36rpx;

		.company_profiles {
			padding-top: 62rpx;

			.title {
				font-weight: bold;
				color: #282828;
				font-size: 38rpx;
			}

			.read-more_box {
				margin-top: 47rpx;
			}
			.slideshow {
				margin-top: 49rpx;
				margin-bottom: 62rpx;
				.wrap {
					overflow: hidden;
					image {
						flex-shrink: 0;
						width: 580rpx;
						height: 307rpx;
						border-radius: 10rpx;
					}
				}
			}


			.location {
				height: 367rpx;
				background-color: #0097e5;
				border-radius: 10rpx;
				margin-top: 47rpx;
			}

			.http {
				font-size: 28rpx;
				color: #666666;
				margin-top: 47rpx;
			}

			.Registration_Info {
				display: flex;
				flex-direction: column;
				font-size: 28rpx;
				color: #666666;
				line-height: 48rpx;
				margin-top: 28rpx;

				.lookall {
					color: #ff5d16;
					margin-top: 20rpx;
				}
			}
		}

		.gochat {
			width: 678rpx;
			height: 88rpx;
			text-align: center;
			background-color: #ff5d16;
			box-shadow: 0rpx 8rpx 20rpx 0rpx rgba(255, 93, 22, 0.31);
			border-radius: 10rpx;
			font-size: 36rpx;
			color: #ffffff;
			margin-top: 77rpx;
			margin-bottom: 99rpx;
		}
	}

	.popup_box {
		position: absolute;
		top: 159rpx;
		left: 50%;
		transform: translateX(-50%);
		height: auto;
		padding: 38rpx 37rpx;
		background-color: #fff;
		border-radius: 30rpx;
		.top {
			border-bottom: 0.5rpx solid d #cccccc;
			padding-bottom: 36rpx;
			display: flex;
			align-items: center;
			image {
				width: 95rpx;
				height: 95rpx;
				background-color: #0097e5;
				border-radius: 10rpx;
				margin-right: 34rpx;
			}
			text {
				font-size: 28rpx;
				font-weight: bold;
				color: #828282;
			}
		}
		.info {
			font-size: 26rpx;
			color: #666666;
			margin-top: 20rpx;
			text {
				margin-right: 34rpx;
				line-height: 53rpx;
			}
		}
	}
}

.mask {
	position: fixed;
	left: 0;
	top: 0;
	bottom: 0;
	right: 0;
	z-index: 9999;
	background-color: rgba(0, 0, 0, 0.5);
	.popup {
		width: 677rpx;
		height: 730rpx;
		position: absolute;
		left: 50%;
		top: 10%;
		right: 0;
		bottom: 0;
		z-index: 2;
		transform: translateX(-50%);
		.popup-box {
			height: 600rpx;
			overflow-y: scroll;
			background-color: #fff;
			padding: 38rpx 37rpx;
			border-radius: 30rpx;
			.top {
				display: flex;
				align-items: center;
				border-bottom: 0.5rpx solid d #cccccc;
				padding-bottom: 36rpx;
				image {
					width: 95rpx;
					height: 95rpx;
					background-color: #0097e5;
					border-radius: 10rpx;
				}
				text {
					font-size: 28rpx;
					font-weight: bold;
					color: #282828;
					margin-left: 34rpx;
				}
			}
			.info {
				margin-top: 40rpx;
				.flex {
					display: flex;
					.mr {
						margin-right: 34rpx;
					}
					view {
						font-size: 26rpx;
						color: #666666;
						line-height: 65rpx;
					}
					.w445 {
						width: 445rpx;
					}
				}
			}
		}
		.close {
			width: 88rpx;
			height: 88rpx;
			border-radius: 50%;
			border: solid 1rpx #ffffff;
			position: absolute;
			bottom: 0;
			left: 50%;
			transform: translateX(-50%);
			text-align: center;
			line-height: 88rpx;
			color: #ffffff;
		}
	}
}
</style>
