<template>
	<view>
		<u-navbar :is-back="false" title="" :is-fixed="true" :background="navbarBg">
			<view class="navbar-right" slot="right"><view class="set-btn iconfont" @click="goset">&#xe64d;</view></view>
		</u-navbar>
		<view class="my">
			<view class="box">
				<view class="top">
					<view class="left">
						<u-avatar :src="avatar" class="avatar" size="95" @tap="chooseAvatar"></u-avatar>
						<text>李会计</text>
					</view>
					<view class="right"><image src="../../static/images/my/Not_certified.png" mode=""></image></view>
				</view>
				<view class="bottom">
					<view>
						<text>86</text>
						<text>圆龄（元）</text>
					</view>
					<view>
						<text>20</text>
						<text>累计客户（个）</text>
					</view>
					<view>
						<text>4000</text>
						<text>累计收入（元）</text>
					</view>
				</view>
			</view>
			<view class="nav">
				<view @click="goVault">
					<text class="iconfont">&#xe616;</text>
					<text>小金库</text>
				</view>
				<view @click="goOrder">
					<text class="iconfont">&#xe608;</text>
					<text>订单</text>
				</view>
				<view @click="Certification">
					<text class="iconfont">&#xe615;</text>
					<text>会计认证</text>
				</view>
			</view>
			<view class="list">
				<view class="item" @click="invoice_collect">
					<view>
						<text class="iconfont">&#xe617;</text>
						<text>发票采集</text>
					</view>
					<text class="right_ico iconfont">&#xe7d9;</text>
				</view>
				<view class="item" @click="gomoneyList">
					<view>
						<text class="iconfont">&#xe618;</text>
						<text>财务报表</text>
					</view>
					<text class="right_ico iconfont">&#xe7d9;</text>
				</view>
				<view class="item" @click="Recommend">
					<view>
						<text class="iconfont">&#xe61b;</text>
						<text>我有建议</text>
					</view>
					<text class="right_ico iconfont">&#xe7d9;</text>
				</view>
				<view class="item" @click="goService">
					<view>
						<text class="iconfont">&#xe632;</text>
						<text>在线客服</text>
					</view>
					<text class="right_ico iconfont">&#xe7d9;</text>
				</view>
			</view>
		</view>
	</view>
</template>

<script>
export default {
	components: {},
	data() {
		return {
			navbarBg: {
				background: '#fe8754'
			},
			src: 'http://pic2.sc.chinaz.com/Files/pic/pic9/202002/hpic2119_s.jpg',
			avatar: 'https://cdn.uviewui.com/uview/common/logo.png'
		};
	},
	computed: {},
	watch: {},
	onLoad() {
		// 监听从裁剪页发布的事件，获得裁剪结果
		uni.$on('uAvatarCropper', path => {
			this.avatar = path;
			// 可以在此上传到服务端
			uni.uploadFile({
				url: 'http://www.example.com/upload',
				filePath: path,
				name: 'file',
				complete: res => {
					console.log(res);
				}
			});
		});
	},
	onReady() {},
	methods: {
		goset() {
			uni.navigateTo({
				url: '/pages/set/set'
			});
		},
		goOrder() {
			uni.navigateTo({
				url: '/pages/MyOrder/MyOrder'
			});
		},
		Recommend() {
			uni.navigateTo({
				url: '/pages/Feedback/Feedback'
			});
		},
		Certification() {
			uni.navigateTo({
				url: '/pages/uploads/uploads'
			});
		},
		//发票采集
		invoice_collect() {
			uni.navigateTo({
				url: '/pages/invoice_collect/invoice_collect'
			});
		},
		goVault() {
			uni.navigateTo({
				url: '/pages/vault/vault'
			});
		},
		chooseAvatar() {
			// 此为uView的跳转方法，详见"文档-JS"部分，也可以用uni的uni.navigateTo
			this.$u.route({
				// 关于此路径，请见下方"注意事项"
				url: '/uview-ui/components/u-avatar-cropper/u-avatar-cropper',
				// 内部已设置以下默认参数值，可不传这些参数
				params: {
					// 输出图片宽度，高等于宽，单位px
					destWidth: 300,
					// 裁剪框宽度，高等于宽，单位px
					rectWidth: 200,
					// 输出的图片类型，如果'png'类型发现裁剪的图片太大，改成"jpg"即可
					fileType: 'jpg'
				}
			});
		},
		gomoneyList() {
			uni.navigateTo({
				url: '/pages/Financial_status/Financial_status'
			});
		},
		goService() {
			uni.navigateTo({
				url: '/pages/service/service'
			})
		}
	}
};
</script>

<style lang="scss">
page {
	background-color: #fcfafc;
}
.my {
	width: 100%;
	height: 400rpx;
	background-image: linear-gradient(#fe8754, #fcfafc);
	padding: 32rpx 36rpx;
	padding-top: 12rpx         ;
	.box {
		background-color: #fff;
		padding: 50rpx 47rpx;
		border-radius: 10rpx;
		box-shadow: 0rpx 8rpx 20rpx 0rpx rgba(255, 93, 22, 0.04);
		.top {
			display: flex;
			justify-content: space-between;
			align-items: center;
			.left {
				display: flex;
				align-items: center;
				.avatar {
					flex-shrink: 0;
				}
				text {
					font-size: 38rpx;
					color: #333333;
					margin-left: 34rpx;
					font-weight: bold;
				}
			}
			.right {
				image {
					width: 119rpx;
					height: 43rpx;
				}
			}
		}
		.bottom {
			display: flex;
			justify-content: space-around;
			margin-top: 54rpx;
			view {
				display: flex;
				flex-flow: column;
				align-items: center;
				justify-content: center;
				text {
					text-align: center;
					&:first-child {
						font-size: 38rpx;
						color: #333333;
						font-weight: bold;
					}
					&:last-child {
						margin-top: 16rpx;
						font-size: 24rpx;
						color: #999999;
					}
				}
			}
		}
	}
	.nav {
		margin-top: 60rpx;
		display: flex;
		justify-content: space-around;
		view {
			display: flex;
			flex-flow: column;
			align-items: center;
			text {
				&:first-child {
					font-size: 53rpx;
					width: 102rpx;
					height: 102rpx;
					text-align: center;
					line-height: 102rpx;
					background-image: linear-gradient(0deg, #fe984f 0%, #fe7734 100%), linear-gradient(#ff5d16, #ff5d16);
					box-shadow: 0rpx 5rpx 16rpx 0rpx rgba(254, 120, 53, 0.41);
					border-radius: 50%;
					color: #ffe5ce;
				}
				&:last-child {
					font-size: 26rpx;
					font-weight: bold;
					color: #333333;
					margin-top: 30rpx;
				}
			}
		}
	}
	.list {
		overflow: hidden;
		margin-top: 80rpx;
		padding: 0 14rpx;
		.item {
			width: 100%;
			display: flex;
			justify-content: space-between;
			align-items: center;

			margin-bottom: 64rpx;
			view {
				display: flex;
				align-items: center;
				text {
					font-size: 30rpx;
					&:first-child {
						color: #666666;
					}
					&:last-child {
						margin-left: 48rpx;
						color: #333333;
					}
				}
			}
			.right_ico {
				font-size: 23rpx;
				color: #999999;
			}
		}
	}
}
</style>
