<template>
	<view class="password">
		<view class="inner">
			<text class="title">请输入登录密码</text>
			<view class="input_box">
				<input-box
					ref="input2"
					type="password"
					:verification="['isNull', 'isChineseEnlishAndNumber']"
					:verificationTip="['密码不能为空', '']"
					placeholder="请输入密码"
					:maxLength="maxLength"
					class="phone-input"
				></input-box>
			</view>
			<button type="default" hover-class="button-hover" class="login_btn" @click="loginBtn">确 定</button>
			<u-row gutter="2" justify="space-between" class="yzm">
				<text @click="yzmlogin">验证码登录</text>
				<text style="color:#c4c4c6;" @click="ForgotPwd">忘记密码</text>
			</u-row>
		</view>
	</view>
</template>

<script>
import inputBox from '@/components/input-box/input-box';
export default {
	components: {
		inputBox
	},
	data() {
		return {
			username: '',
			password: '123',
			showError : false,
			maxLength: '16',
			isShow: false,
			num: 0
		};
	},
	watch: {},
	onLoad(options) {
		this.username = options.phone;
		console.log(this.username)
	},
	onReady() {},
	methods: {
		// onerification() {
		// 	let password = this.$refs.input2.getValue();
		// 	if (password) {
		// 		if (password.length > 7) {
		// 			let oldpassword = '12345678';

		// 			if (password == oldpassword) {
		// 				//密码正确
		// 				uni.reLaunch({
		// 					url: '/pages/index/index'
		// 				});
		// 			} else {
		// 				//密码错误
		// 				this.$commonFun.msg('账号与密码不符！');
		// 				this.num++;
		// 				if (this.num >= 2 && this.num <= 5) {
		// 					this.$commonFun.msg(`${'剩余' + (6 - parseInt(this.num)) + '次将锁定账号!'}`);
		// 				} else if (this.num >= 6) {
		// 					this.$commonFun.msg('账号已被锁定，1小时后重试！');
		// 				}
		// 			}
		// 		} else {
		// 			this.$commonFun.msg('密码长度不能小于8位！');
		// 		}
		// 	}
		// },
		//忘记密码
		ForgotPwd() {
			uni.navigateTo({
				url: `/pages/yzmlogin/yzmlogin?type=forget`
			});
		},
		//验证码登录
		yzmlogin() {
			uni.navigateTo({
				url: '/pages/yzmlogin/yzmlogin'
			});
		},
		//GOeasyIM登录
		loginBtn() {
			if (this.username.trim() != "" && this.password.trim() != "") {
			    let loginResult = this.imService.login(this.username, this.password);
			  //   if (loginResult) {
			  //       //连接IM
			  //       this.imService.connectIM();

			  //   } else {
			  //       console.log('登录失败');
					// this.showError = true;
			  //   }
				uni.reLaunch({
					url: '/pages/index/index'
				})
			    return;
			}
			this.showError = true;
		}
	}
};
</script>

<style lang="scss">
page {
	background-color: #fff;
}
.inner {
	padding: 174rpx 56rpx;

	.title {
		height: 46rpx;
		font-size: 48rpx;
		font-weight: normal;
		font-stretch: normal;
		line-height: 38rpx;
		letter-spacing: 1rpx;
		color: #282828;
	}

	.input_box {
		width: 100%;
		display: flex;
		overflow: hidden;
		position: relative;
		margin-top: 103rpx;

		.phone-input {
			flex: 1;
			height: 120rpx;
			line-height: 120rpx;
			font-size: 36rpx;
			border-bottom: 0.5rpx solid #cccccc;
		}
	}

	.login_btn {
		margin-top: 100rpx;
		height: 88rpx;
		line-height: 88rpx;
		box-shadow: 0rpx 8rpx 20rpx 0rpx rgba(255, 65, 22, 0.31);
		border-radius: 10rpx;
		font-size: 36rpx;
		background-color: #ff5d16;
		color: #FFFFFF;
	}

	.yzm {
		flex-direction: row;
		justify-content: flex-end;
		align-items: center;
		height: 26rpx;
		font-size: 28rpx;
		line-height: 38rpx;
		color: #ff5d16;
		margin-top: 51rpx;
	}
}
</style>
