<template>
	<view class="New_information">
		<u-navbar :is-back="true" title="消息设置" title-size="36rpx" style="font-weight: bold;" :is-fixed="true" title-color="#282828" back-icon-color="#282828"></u-navbar>
		<view class="content">
			<text>新消息通知</text>
			<switch checked="true" @change="" color="#ff5d16" style="transform:scale(0.8)" />
		</view>
	</view>
</template>

<script>
export default {
	components: {},
	data() {
		return {};
	},
	computed: {},
	watch: {},
	onLoad() {},
	onReady() {},
	methods: {}
};
</script>

<style lang="scss">
.New_information {
	overflow: hidden;
	.content {
		margin-top: 32rpx;
		background-color: #fff;
		height: 120rpx;
		line-height: 120rpx;
		padding: 0 35rpx;
		display: flex;
		justify-content: space-between;
		text {
			font-size: 34rpx;
		}
	}
}
</style>
