<template>
	<view class="setNewPhone">
		<view class="inner">
			<view class="title">设置新手机号</view>
			<view class="tip">请输入您当前使用的新手机号作为登录账号</view>
			<view class="input_box"><input type="number" placeholder="请输入手机号" placeholder-style="color: #c4c4c6; font-size: 34rpx" /></view>
			<button type="default" hover-class="button-hover" class="login_btn" @click="getCode">确 定</button>
		</view>
	</view>
</template>

<script>
export default {
	data() {
		return {
			/* 登录按钮动态样式 */
			loginBth: {
				backgroundColor: '#ff5d16', // 注意驼峰命名，并且值必须用引号包括，因为这是对象
				color: '#FFFFFF'
			}
		};
	},
	computed: {},
	watch: {},
	onLoad() {},
	onReady() {},
	methods: {
		getCode() {
			uni.navigateTo({
				url: '/pages/phoneYzm/phoneYzm'
			});
		}
	}
};
</script>

<style lang="scss">
page {
	background-color: #fff;
}
.inner {
	padding: 174rpx 56rpx;

	.title {
		height: 34rpx;
		font-size: 46rpx;
		line-height: 34rpx;
		color: #282828;
	}

	.tip {
		height: 27rpx;
		font-size: 27rpx;
		line-height: 27rpx;
		color: #999999;
		margin-top: 42rpx;
	}

	.input_box {
		width: 100%;
		display: flex;
		overflow: hidden;
		position: relative;
		margin-top: 103rpx;
		border-bottom: 0.5rpx solid #cccccc;
		padding-bottom: 42rpx;
		input {
			flex: 1;
			text-indent: 8rpx;
			font-size: 40rpx;
		}
	}

	.login_btn {
		margin-top: 100rpx;
		height: 88rpx;
		line-height: 88rpx;
		box-shadow: 0rpx 8rpx 20rpx 0rpx rgba(255, 65, 22, 0.31);
		border-radius: 10rpx;
		font-size: 36rpx;
		background-color: #ff5d16;
		color: #FFFFFF;
	}
}
</style>
