<template>
	<view class="agreement">
		<u-navbar :is-back="true" title="用户协议" title-size="36rpx" style="font-weight: bold;" :is-fixed="true" title-color="#282828" back-icon-color="#282828"></u-navbar>
		<rich-text :nodes="nodes"></rich-text>
	</view>
</template>

<script>
export default {
	components: {},
	data() {
		return {
			nodes: [
				{
					name: 'div',
					attrs: {
						class: 'div-class',
						style: 'text-align:center;'
					},
					children: [
						{
							type: 'text',
							text: '富文本用户协议'
						}
					]
				}
			],
			strings: '<h2>富文本用户协议</h2>'
		};
	},
	computed: {},
	watch: {},
	onLoad() {},
	onReady() {},
	methods: {}
};
</script>

<style lang="scss"></style>
