<template>
	<view>
		<view class="chatInterface">
			<scroll-view
				ref="myScroll"
				scroll-y="true"
				class="scroll-view"
				:scroll-top="scrollTop"
				:scroll-into-view="contentPosition"
				:scroll-with-animation="isAnimation"
				:enable-back-to-top="true"
				:show-scrollbar="false"
				@touchmove.stop.prevent
				:style="{paddingBottom: bottom + 'px'}"
			>
				<view class="presentation">
					<view class="box">
						<view class="left"><text class="iconfont">&#xe6a3;</text></view>
						<view class="right">
							<text>公司纳税类型</text>
							<text>非一般纳税人</text>
						</view>
					</view>
					<view class="box">
						<view class="left"><text class="iconfont">&#xe62c;</text></view>
						<view class="right">
							<text>每月产生发票数量</text>
							<text>11-20张</text>
						</view>
					</view>
					<view class="box">
						<view class="left"><text class="iconfont">&#xe62b;</text></view>
						<view class="right">
							<text>是否需要税控托管</text>
							<text class="price">100元/月</text>
							<text>不需要</text>
						</view>
					</view>
					<view class="box">
						<view class="left" style="background-color: #ffeee6;"><text class="iconfont" style="color: #ff5d16;">&#xe62a;</text></view>
						<view class="right">
							<text>预估代理记账费用</text>
							<text>3600元/年</text>
						</view>
					</view>
					<view class="edit" @click="edit">修 改</view>
				</view>
				<view :class="[loading ? 'top' : 'top gray']" @click="loadMoreHistoryMessage">
					<text>{{ loading ? '点击加载更多历史消息' : '已经没有更多的历史消息' }}</text>
				</view>
				<view
					v-for="(message, key) in messages || []"
					:id="'message' + message.timestamp"
					:key="key"
					:class="[message.senderId == currentUser.uuid ? 'self message-item' : 'message-item']"
				>
					<view class="currentTime" v-if="message.isShowTime || message.isHistoryTime">{{ $formatTime._getTimeStringAutoShort2(message.timestamp, true) }}</view>
					<view class="friendInfo">
						<view :class="friend.online ? 'avatar' : 'avatar offline-gray'" v-if="message.senderId != currentUser.uuid"><image :src="friend.avatar"></image></view>
						<view class="avatar" v-else><image :src="currentUser.avatar"></image></view>
						<view class="content"><rich-text :nodes="message.payload" selectable="true"></rich-text></view>
					</view>
				</view>
				<view id="bottom"></view>
				<view id="bottom2"></view>
			</scroll-view>
		</view>
		<view class="input-box" @touchmove.stop.prevent="nomove">
			<view class="box-top">
				<view class="textarea-box">
					<editor id="editor" class="ql-container"  @focus="listenFocus" @input="listenInput"></editor>
				</view>
				<view class="emoji" @click="emoji">
					<text class="iconfont" v-show="isShowIcon">&#xe609;</text>
					<text class="iconfont" v-show="!isShowIcon">&#xe653;</text>
				</view>
				<view class="send" v-show="showSend" @touchstart.stop.prevent="sendChat">发送</view>
			</view>
			<view v-if="isShowEmj"><emotion @emotion="handleEmj"></emotion></view>
		</view>
	</view>
</template>

<script>
import emotion from '@/components/bkhumor-emoji/index.vue';
export default {
	name: 'private',
	components: {
		emotion
	},
	data() {
		return {
			isAnimation: false, //是否开启滚动条动画的过渡效果
			content: '',
			friend: null,
			currentUser: null,
			messages: [],
			isHistoryTime: false,
			timeArray: [],
			isShowTime: false,
			loading: true,
			contentPosition: '',
			showSend: false,
			navbarTitle: '',
			isShowEmj: false,
			isShowIcon: true,
			scrollTop: 0,
			emojiSrc: '',
			bottom: 0 //scroll的bottom值
		};
	},
	watch: {},
	onLoad(options) {
		var that = this;
		// if (!that.imService.currentUser) {
		// 	uni.navigateTo({
		// 		url: '../login/login'
		// 	});
		// }
		// //对话数据
		// that.friend = JSON.parse(options.friend);
		// that.navbarTitle = that.friend.name;
		// uni.setNavigationBarTitle({
		// 	title: that.navbarTitle //更换导航栏标题
		// });
		// //获取当前用户信息
		// that.currentUser = that.imService.currentUser;
		// //获取消息列表
		// that.messages = that.imService.getPrivateMessages(that.friend.uuid);

		// //传入监听器，完成一次私聊历史加载时，如果加载结果为空，显示没有更多消息
		// that.imService.onPrivateHistoryLoad = (friendId, messages) => {
		// 	if (messages.length == 0) {
		// 		//灰色，就不能点击了
		// 		that.loading = false;
		// 	} else {
		// 		that.messages[0]['isHistoryTime'] = true;
		// 	}
		// };
		// that.loadMoreHistoryMessage();
		
		// if(that.messages.length > 4) {
		// 	that.scrollTop = 999999;
		// 	that.contentPosition = 'bottom';
		// }else {
		// 	that.scrollTop = 0;
		// 	that.contentPosition = '';
		// }
		// that.$nextTick(() => {

		// });
	},
	async onReady() {
		var that = this;
		let input_box = await that.$commonFun.getElSize('input-box');
		that.bottom = input_box.height;
		// #ifdef APP-PLUS
		let ws = plus.webview.currentWebview();
		let platform = uni.getSystemInfoSync().platform;
		if(platform == 'ios') {
			ws.setStyle({
				softinputMode: 'adjustPan'
			})
		}else if (platform === 'android'){
			ws.setStyle({
				softinputMode: 'adjustResize'
			})
		}
		// #endif
	},
	onUnload() {
		//退出聊天页面之前，清空页面传入的监听器
		this.imService.onNewPrivateMessageReceive = (friendId, message) => {};
		//将未读消息数清零
		this.imService.resetFriendUnReadMessage(this.friend);
	},
	methods: {
		edit() {
			// #ifdef APP-PLUS
			uni.navigateTo({
				url: '/pages/Chatroom/popup'
			})
			// #endif
		},
		//选择纳税人
		showPopup() {
			// #ifdef APP-PLUS
			uni.navigateTo({
				url: '/pages/Chatroom/ChatRoomPopup'
			})
			// #endif
		},
		//提醒不要线下交易
		showWarn() {
			// #ifdef APP-PLUS
			uni.navigateTo({
				url: '/pages/Chatroom/warn'
			})
			// #endif
		},
		nomove() {
			return;
		},
		loadMoreHistoryMessage() {
			//历史消息
			let lastMessageTimeStamp = Date.now();
			let lastMessage = this.messages[0];
			if (lastMessage) {
				lastMessageTimeStamp = lastMessage.timestamp;
			}
			this.imService.loadPrivateHistoryMessage(this.friend.uuid, lastMessageTimeStamp);
		},
		listenFocus() {
			//获取焦点的时候，总是滚动到底部
			this.contentPosition = 'bottom2';
			this.isShowIcon = true;
			this.isShowEmj = false;
		},
		/* 监听输入框输入的时候 */
		listenInput(e) {
			console.log(e);
			if (e.detail.text.length > 0) {
				this.showSend = true;
			} else {
				this.showSend = false;
			}
		},
		goscrollBottom() {
			var that = this;
			that.imService.onNewPrivateMessageReceive = (friendId, message) => {
				let currentTime = message.timestamp;
				if (that.messages.length >= 2) {
					let lastTime = that.messages[that.messages.length - 2].timestamp;
					/* 如果发送最新消息超过三分钟则显示时间 */
					if (currentTime - lastTime > 180000) {
						that.isShowTime = true;
						that.messages[that.messages.length - 1]['isShowTime'] = that.isShowTime;
					}
				} else {
					that.isShowTime = true;
					that.messages[that.messages.length - 1]['isShowTime'] = that.isShowTime;
				}

				if (friendId == that.friend.uuid) {
					//收到新消息，是滚动到最底部
					that.$nextTick(() => {
						that.isAnimation = true;
						setTimeout(() => {
							that.contentPosition = 'message' + message.timestamp;
						}, 200);
					});
				}
			};
		},
		/* 发送消息 */
		sendChat() {
			var that = this;
			that.editorCtx.getContents({
				success(res) {
					if (!res.text.match(/^\s*$/) || res.html.indexOf('<img') !== -1) {
						that.imService.sendPrivateMessage(that.friend.uuid, res.html);
					}
				}
			});
			that.editorCtx.clear();
			that.editorCtx.insertText();
			that.$nextTick(() => {
				that.goscrollBottom();
			});
		},
		//点击表情
		emoji() {
			var that = this;
			that.isShowIcon = !that.isShowIcon;
			that.isShowEmj = !that.isShowEmj;
			if (that.isShowIcon) {
				that.contentPosition = 'bottom1';
			} else {
				that.contentPosition = 'bottom2';
			}
		},
		//输入框插入表情
		handleEmj(e) {
			let url = `../../static/images/emoji/${e}.png`;
			uni.createSelectorQuery().select('#editor').context(res => {
				this.editorCtx = res.context;
				this.$nextTick(() => {
					this.editorCtx.insertImage({
						src: url,
						width: '24px',
						height: '24px',
						extClass: 'emojiIcon'
					});
				});
			}).exec();
			this.isShowEmj = false;
		}
	}
};
</script>

<style lang="scss">
page {
	background-color: #f3f5f8;
}
#bottom {
	height: 10rpx;
}
.chatInterface {
	width: 100%;
	.scroll-view {
		width: 92%;
		padding: 0 4%;
		position: absolute;
		top: 0;
		bottom: 0;
		.uni-scroll-view {
			background-color: #f3f5f8;
			&::-webkit-scrollbar {
				display: none;
				width: 0 !important;
				height: 0 !important;
				-webkit-appearance: none;
				background: transparent;
			}

			.presentation {
				width: 100%;
				margin: 0 auto;
				margin-top: 46rpx;
				background-color: #fff;
				box-shadow: 0rpx 2rpx 5rpx 0rpx rgba(204, 204, 204, 0.24);
				border-radius: 25rpx;
				display: flex;
				flex-wrap: wrap;
				justify-content: space-between;
				padding: 0 30rpx;
				padding-top: 51rpx;
				padding-bottom: 34rpx;
				position: relative;
				.box {
					display: flex;
					margin-bottom: 45rpx;
					.left {
						width: 68rpx;
						height: 68rpx;
						background-color: #ffeee6;
						opacity: 0.8;
						border-radius: 50%;
						margin-right: 30rpx;
						text-align: center;
						line-height: 68rpx;
						color: #ff5d16;
					}
					.right {
						display: flex;
						flex-flow: column;
						text {
							&:first-child {
								font-size: 24rpx;
								color: #999999;
							}
							&:last-child {
								font-size: 26rpx;
								color: #666;
								margin-top: 10rpx;
							}
						}
						.price {
							font-size: 24rpx;
							color: #999999;
							margin-top: 6rpx;
						}
					}
				}
				.edit {
					position: absolute;
					right: 53rpx;
					bottom: 28rpx;
					width: 122rpx;
					height: 48rpx;
					line-height: 48rpx;
					box-shadow: 0rpx 2rpx 9rpx 0rpx rgba(162, 162, 162, 0.15);
					border-radius: 24rpx;
					color: #ff5d16;
					font-size: 24rpx;
					text-align: center;
				}
			}

			.top {
				font-size: 24rpx;
				height: 90rpx;
				display: flex;
				flex-direction: column;
				align-items: center;
				justify-content: center;
				-webkit-tap-highlight-color: transparent;
				color: #ff5d16;
				text {
					text-decoration: underline;
				}
			}
			.gray {
				color: #ccc;
			}
			.message-item {
				min-height: 92rpx;
				margin-bottom: 40rpx;
				display: flex;
				flex-direction: column;
				justify-content: flex-end;
				align-items: flex-start;
				.friendInfo {
					display: flex;
					align-items: center;
				}
				.avatar,
				.error-avatar,
				.friendAvatar {
					display: flex;
					justify-content: center;
					width: 79rpx;
					height: 79rpx;
					border-radius: 50%;
					image {
						flex-shrink: 0;
						width: 100%;
						height: 100%;
						border-radius: 50%;
					}
					.friendAvatar {
						line-height: 79rpx;
						text-align: center;
						background-color: #2585df;
						font-size: 26rpx;
						color: #ffffff;
					}
				}
				.content {
					max-width: 404rpx;
					font-size: 32rpx;
					padding: 0 30rpx;
					display: flex;
					align-items: center;
					border-radius: 25rpx;
					margin-left: 28rpx;
					background-color: #fff;
					border: solid 1rpx #dedede;
					/deep/div p {
						display: flex !important;
						align-items: center !important;
						min-height: 92rpx !important;
						img {
							vertical-align: baseline;
							border: none;
						}
					}
				}
			}
			.self {
				flex-direction: column;
				justify-content: flex-start;
				align-items: flex-end;
				.friendInfo {
					flex-direction: row-reverse;
				}
				.content {
					background-color: #ffece4;
					border: 1rpx solid #ffd0bd;
					margin-right: 28rpx;
				}
			}
			.currentTime {
				padding: 0 34rpx;
				height: 48rpx;
				line-height: 48rpx;
				height: 48rpx;
				font-size: 24rpx;
				color: #666666;
				text-align: center;
				background-color: #ffffff;
				border-radius: 24rpx;
				margin: 0 auto;
				margin-bottom: 47rpx;
			}
			#bottom2 {
				margin-bottom: 140rpx;
			}
		}
	}
}
.input-box {
	width: 100%;
	position: fixed;
	bottom: 0;
	z-index: 1000;
	.box-top {
		padding: 18rpx 36rpx;
		background-color: #f3f5f8;
		display: flex;
		align-items: center;
		border-top: 0.5rpx solid #d3d8da;
		.textarea-box {
			flex: 1;
			background-color: #ffffff;
			box-shadow: 0rpx 1rpx 3rpx 0rpx rgba(233, 233, 233, 0.33);
			border-radius: 10rpx;
			overflow: hidden;
			font-size: 16px;
			#editor {
				width: 90%;
				height: auto;
				min-height: 42px !important;
				line-height: 26px !important;
				background-color: #ffffff;
				margin: 0 auto;
				vertical-align: middle;
				outline: none;
				font-size: 16px;
				/deep/.ql-editor {
					p {
						padding: 14rpx 0;
						line-height: 27px;
						vertical-align: middle;
						img {
							vertical-align: middle;
						}
					}
				}
			}
		}
		.emoji {
			width: 85rpx;
			text-align: right;
			text {
				font-size: 60rpx;
			}
		}
		.send {
			width: 120rpx;
			height: 60rpx;
			line-height: 60rpx;
			text-align: center;
			background-color: #ff5d16;
			font-size: 28rpx;
			color: #ffffff;
			border-radius: 10rpx;
			margin-left: 25rpx;
		}
	}
}
</style>
