<template>
	<view class="mask">
		<view class="content">
			<view class="item">
				<view class="title">1、对方公司纳税类型？</view>
				<view class="box">
					<view class="label" v-for="(k, v) in list" :key="v" @click="choose(v,k,1)">
						<text class="iconfont" :class="{'active': select == v}" v-if="select == v">&#xe663;</text>
						<text class="iconfont" v-else>&#xe629;</text>
						<text>{{ k }}</text>
					</view>
				</view>
			</view>
			<view class="item">
				<view class="title">2、对方公司每月产生发票数量 ？</view>
				<view class="box">
					<view class="label" v-for="(k, v) in list2" :key="v" @click="choose(v,k,2)">
						<text class="iconfont" :class="{'active': select2 == v}" v-if="select2 == v">&#xe663;</text>
						<text class="iconfont" v-else>&#xe629;</text>
						<text>{{ k }}</text>
					</view>
				</view>
			</view>
			<view class="item">
				<view class="title">3、对方公司是否需要税控托管?100元/月</view>
				<view class="box">
					<view class="label" v-for="(k, v) in list3" :key="v" @click="choose(v,k,3)">
						<text class="iconfont" :class="{'active': select3 == v}" v-if="select3 == v">&#xe663;</text>
						<text class="iconfont" v-else>&#xe629;</text>
						<text>{{ k }}</text>
					</view>
				</view>
			</view>
			<view class="button-box">
				<view @click="cencel">取 消</view>
				<view class="sava" @click="confirm">保 存</view>
			</view>
		</view>
	</view>
</template>

<script>
export default {
	data() {
		return {
			list: ['一般纳税人', '非一般纳税人'],
			list2: ['0-10张', '11-20张', '20张以上'],
			list3: ['需要','不需要'],
			select: -1,
			select2: -1,
			select3: -1
		};
	},
	methods: {
		notouch() {
			return;
		},
		goMore() {
			uni.navigateTo({
				url: '/pages/agreement/agreement'
			});
		},
		close() {
			uni.navigateBack();
		},
		choose(index,item,type) {
			if(type == 1) {
				this.select = index;
				console.log("item1",item)
			}else if(type == 2) {
				this.select2 = index;
				console.log("item1",item)
			}else if(type == 3) {
				this.select3 = index;
				console.log("item1",item)
			}
			
		},
		cencel() {
			uni.navigateBack();
		},
		confirm() {
			uni.navigateBack();
		}
	}
};
</script>

<style lang="scss">
page {
	background: transparent;
}

.mask {
	position: fixed;
	left: 0;
	top: 0;
	right: 0;
	bottom: 0;
	/* #ifndef APP-NVUE */
	display: flex;
	/* #endif */
	justify-content: center;
	align-items: center;
	background-color: rgba(0, 0, 0, 0.4);
}
.active {
	color: #ff5d16 !important;
}
.content {
	width: 609rpx;
	background-color: #ffffff;
	box-shadow: 0rpx -5rpx 11rpx 1rpx rgba(126, 126, 126, 0.12);
	border-radius: 30rpx;
	overflow: hidden;
	padding: 74rpx 30rpx;
	.item {
		&:first-child {
			margin-top: 0;
		}
		margin-top: 25rpx;
		.title {
			font-size: 28rpx;
			color: #666666;
			margin-bottom: 15rpx;
		}
		.box {
			display: flex;
			align-items: center;
			flex-wrap: wrap;
			.label {
				width: 270rpx;
				display: flex;
				align-items: center;
				margin-bottom: 30rpx;
				line-height: 48rpx;
				text {
					&:first-child {
						margin-right: 19rpx;
						color: #d0d0d0;
					}
					
					font-size: 26rpx;
					color: #333333;
				}
			}
		}
	}
	.button-box {
		width: 100%;
		display: flex;
		justify-content: space-between;
		overflow: hidden;
		margin-top: 50rpx;
		view {
			width: 246rpx;
			height: 80rpx;
			line-height: 80rpx;
			text-align: center;
			font-size: 28rpx;
			color: #333333;
			background-color: #f9f9f9;
			border-radius: 5rpx;
		}
		.sava {
			width: 246rpx;
			height: 80rpx;
			color: #ff5d16;
			background-color: #ffeee6;
			border-radius: 5rpx;
		}
	}
}
</style>
