<template>
	<view class="Invitations_list">
		<hr-pull-load
			@refresh="refresh"
			@loadMore="loadMore"
			:height="windowHeight + 'px'"
			:pullHeight="50"
			:maxHeight="100"
			:lowerThreshold="100"
			:bottomTips="bottomTips"
			:isTab="false"
			ref="hrPullLoad"
			@scroll="listenScroll"
			:scrollTop="scrollTop"
			upDownBgColor="#f3f5f8"
			pullDownBgColor="#f3f5f8"
		>
		<view class="list-box">
			<view class="item" v-for="(item, index) in list" :key="index">
				<view class="top">
					<view class="top_left">
						<text class="iconfont">&#xe621;</text>
						<text>邀请你做账</text>
					</view>
					<view class="top_right">09:12</view>
				</view>
				<view class="bottom">
					<view class="bottom_left">{{item.companyName}}</view>
					<view class="bottom_right" v-if="item.status == 0">
						<view @click="next(index,2)">拒绝</view>
						<view @click="next(index,1)" class="yes">同意</view>
					</view>
					<view class="bottom_right" v-if="item.status == 1">
						<view class="agreement">已同意</view>
					</view>
					<view class="bottom_right" v-if="item.status == 2">
						<view class="reject">已拒绝</view>
					</view>
				</view>
			</view>
		</view>
		</hr-pull-load>
		<u-back-top :scroll-top="scrollTop" @onScroll="gotop" top="600"></u-back-top>
	</view>
</template>

<script>
	import uBackTop from '../../components/u-back-top/u-back-top'
	export default {

        components: {
			uBackTop
        },
        data() {
            return {
				list: [],
				windowHeight: 0,
				bottomTips: '',
				currentPage: 1,
				scrollTop: 0
            }
        },
        computed: {

        },
        watch: {

        },
        onLoad() {
			this.getExampleData(1);
        },
		onReady() {
			var that = this;
			uni.getSystemInfo({
				success: res => {
					that.windowHeight = res.windowHeight;
					console.log(res.windowHeight);
				}
			});
		},
        methods: {
			listenScroll(e) {
				// this.scrollTop = e;
			},
			gotop(e) {
				this.scrollTop = e
			},
			next(idx, params) {
				if(params == 1) {
					this.list[idx].status = params;
				}else if(params == 2) {
					this.list[idx].status = params;
				}
			},
			getExampleData(type) {
				/* type 1代表下拉刷新 2代表加载更多 */
				setTimeout(() => {
					/* 接口获取到的数据 */
					let data = [
						{
							companyName: '北京慧思科技有限公司',
							status: 0
						},{
							companyName: '北京逍途科技有限公司',
							status: 1
						},{
							companyName: '北京联想科技有限公司',
							status: 2
						},{
							companyName: '北京华为科技有限公司',
							status: 0
						},{
							companyName: '北京慧思科技有限公司',
							status: 0
						},{
							companyName: '北京逍途科技有限公司',
							status: 1
						},{
							companyName: '北京联想科技有限公司',
							status: 2
						},{
							companyName: '北京华为科技有限公司',
							status: 0
						},{
							companyName: '北京华为科技有限公司',
							status: 1
						},{
							companyName: '北京华为科技有限公司',
							status: 0
						}
						
						
					];
					/* 拿到数据后的处理 */
					if (data.length > 0) {
						if (type == 1) {
							this.list = data;
						} else if (type == 2) {
							this.list = this.list.concat(data);
						}
						/* 这里的20是每次调用后台接口返回的最大数据条数，可以自定义 */
						if (this.list.length < 3) {
							this.bottomTips = 'nomore';
						} else {
							this.bottomTips = 'more';
						}
					} else {
						if (type == 1) {
							this.list = [];
						} else if (type == 2) {
							this.currentPage--;
						}
						this.bottomTips = 'nomore';
					}
					/* 这里300毫秒的延时，主要是为了优化视觉效果 */
					setTimeout(() => {
						this.$refs.hrPullLoad.reSet();
					}, 300);
				}, 500);
			},
			//自定义上拉加载更多
			loadMore() {
				this.currentPage++;
				this.bottomTips = 'loading';
				this.getExampleData(2);
			},
			//自定义下拉刷新
			refresh() {
				this.currentPage = 1;
				this.getExampleData(1);
			}
        }

    }
</script>

<style lang="scss">
.Invitations_list {
	padding: 0 25rpx;
}
.list-box {
	background-color: #f3f5f8;
	padding-top: 32rpx;
	.item {
		background-color: #ffffff;
		box-shadow: 0rpx 5rpx 22rpx 2rpx rgba(144, 159, 175, 0.07);
		border-radius: 25rpx;
		padding: 21rpx 31rpx;
		margin-bottom: 20rpx;
		.top {
			display: flex;
			align-items: center;
			justify-content: space-between;
			padding-bottom: 22rpx;
			border-bottom: 1rpx solid #E5E5E5;
			.top_left {
				display: flex;
				align-items: center;
				text {
					&:first-child {
						margin-right: 29rpx;
						display: block;
						width: 54rpx;
						height: 54rpx;
						line-height: 54rpx;
						text-align: center;
						background-color: #fff0ec;
						font-size: 30rpx;
						border-radius: 50%;
						color: #ff5d16;
						font-weight: normal;
					}
					font-size: 30rpx;
					font-weight: bold;
					color: #333333;
				}
			}
			.top_right {
				font-size: 26rpx;
				color: #999999;
			}
		}
		.bottom {
			display: flex;
			justify-content: space-between;
			align-items: center;
			padding: 31rpx 0;
			padding-bottom: 0;
			.bottom_left {
				font-size: 26rpx;
				color: #666666;
			}
			.bottom_right {
				display: flex;
				align-items: center;
				view {
					width: 132rpx;
					height: 59rpx;
					line-height: 59rpx;
					text-align: center;
					font-size: 26rpx;
					color: #999999;
					background-color: #FFFFFF;
					border-radius: 30rpx;
					border: solid 1rpx #e5e5e5;
				}
				.yes {
					background-color: #ff5d16;
					border: none;
					color: #FFFFFF;
					margin-left: 21rpx;
				}
				.agreement {
					background-color: #FFFFFF;
					border: solid 1rpx #e5e5e5;
					color: #999999;
				}
				.reject {
					color: #999999;
					background-color: #f3f3f3;
					border-radius: 30rpx;
				}
			}
		}
	}
}
</style>