<template>
	<view class="Financial_status">
		<u-navbar :is-back="true" title="财税状况" title-size="36rpx" style="font-weight: bold;" :is-fixed="true" title-color="#282828" back-icon-color="#282828"></u-navbar>
		<view class="container">
			<view class="title">
				<view class="left" @click="selectCompany">
					<picker @change="bindPickerChange" :value="index" :range="array" @cancel="cancel">
						<view style="display: flex;">
							<text class="text1" @click="flag = !flag">{{ array[index] }}</text>
							<view class="iconfont arrLeft-fill" :class="{ arrowTransform: !flag, arrowTransformReturn: flag }" @click="flag = !flag">&#xe68c;</view>
						</view>
					</picker>
				</view>
				<view class="right">
					<picker mode="date" :value="date" fields="month" @cancel="cencel2" @change="bindPickerChange2">
						<view class="date-time" @click="flag2 = !flag2">{{date}}</view>
					</picker>
					<view class="iconfont" :class="{ arrowTransform: !flag2, arrowTransformReturn: flag2 }" src="arrow.png">&#xe68c;</view>
				</view>
			</view>
			<tabs :tabs="tabs" :titleStyle="titleStyle" :parentHeight="parentHeight" selectedLine="4rpx solid #ff5d16" selectcolor="#ff5d16" color="#333333">
				<!-- 选项卡标题插槽 -->
				<template v-slot:tabTitle="{ tabTitle }">
					<view class="tabTitle">{{ tabTitle.tabTitle }}</view>
				</template>
				<!-- 选项卡内容插槽 -->
				<template v-slot:tabList="{ tabList }">
					<view class="box">
						<text>项目名称</text>
						<text>期末余额</text>
						<text>年初余额</text>
					</view>
					<view class="tabList" v-for="(s, c) in tabList.item" :key="c">
						<view class="box2">
							<u-collapse>
								<u-collapse-item :title="s.itemtitle">
									<view class="flex" v-for="(items, index) in s.list" :key="index">
										<text>{{ items.name }}</text>
										<text>{{ items.ending_balance }}</text>
										<text>{{ items.year_Balance }}</text>
									</view>
								</u-collapse-item>
							</u-collapse>
						</view>
					</view>
				</template>
			</tabs>
		</view>
	</view>
</template>

<script>
import tabs from '@/components/tabs/tabs.vue';
export default {
	components: {
		tabs
	},
	data() {
		return {
			flag: false,
			flag2: false,
			isShow: false,
			array: ['北京共享方圆科技有限公司', 'Boss直聘科技有限公司', '淘宝科技有限公司', '华为科技有限公司'],
			index: 0,
			color: '#666',
			listBoxStyle: `width: 88.5px; height: 23px; font-size: 11px; background-color: #fff;padding: 8px 17px;border: solid 1rpx #e5e5e5;`,
			list: ['2020-05', '2020-06', '2020-07', '2020-08', '2020-09'],
			listHeight: 0,
			titleStyle: '',
			// 当前样式
			target: 0,
			// 当前item位置
			thisindex: 0,
			tabs: [
				{
					tabTitle: '资产负债表',
					item: [
						{
							itemtitle: '流动资产合计',
							list: [
								{
									name: '货币资金',
									ending_balance: '10000.00',
									year_Balance: '10000.00'
								},
								{
									name: '货币资金',
									ending_balance: '10000.00',
									year_Balance: '10000.00'
								},
								{
									name: '货币资金',
									ending_balance: '10000.00',
									year_Balance: '10000.00'
								},
								{
									name: '货币资金',
									ending_balance: '10000.00',
									year_Balance: '10000.00'
								}
							]
						}
					]
				},
				{
					tabTitle: '利润表',
					item: [
						{
							itemtitle: '某某年合计',
							list: [
								{
									name: '货币资金',
									ending_balance: '10000.00',
									year_Balance: '10000.00'
								},
								{
									name: '货币资金',
									ending_balance: '10000.00',
									year_Balance: '10000.00'
								},
								{
									name: '货币资金',
									ending_balance: '10000.00',
									year_Balance: '10000.00'
								},
								{
									name: '货币资金',
									ending_balance: '10000.00',
									year_Balance: '10000.00'
								}
							]
						}
					]
				}
			],
			parentHeight: 0,
			headStyle: {
				color: 'red'
			},
			selectedColor: {
				color: 'blue'
			},
			date: this.$u.date(new Date().getTime(), 'yyyy-mm')
		};
	},
	computed: {},
	watch: {},
	async onLoad() {},
	async onReady() {
		var that = this;
		let title = await that.$commonFun.getElSize('title');
		that.parentHeight = title.height;
	},
	methods: {
		change() {},
		// 切换触发的事件
		toggle(e) {
			let index = e.detail.current;
			this.target = index;
			this.thisindex = this.target;
		},
		// 点击nav控制下面的展示
		setIndex(e) {
			let index = e.currentTarget.dataset.index;
			this.thisindex = index;
		},
		selectCompany() {
			this.isShow = true;
		},
		bindPickerChange(e) {
			this.index = e.target.value;
			this.flag = !this.flag;
		},
		cancel() {
			this.flag = !this.flag;
		},
		cencel2() {
			this.flag2 = !this.flag2;
		},
		bindPickerChange2(e) {
			this.flag2 = !this.flag2;
			console.log(e.detail.value)
			this.date = e.detail.value;
			console.log(this.date)
		}
	}
};
</script>

<style lang="scss">
	page {
		background-color: #f3f5f8;
	}
.container {
	background-color: #fff;
	.title {
		display: flex;
		justify-content: space-between;
		padding: 41rpx 35rpx;
		border-top: 20rpx solid #f3f5f8;
		.left {
			display: flex;
			align-items: center;
			.text1 {
				font-size: 28rpx;
				color: #333333;
			}
			.arrLeft-fill {
				margin-left: 17rpx;
				color: #333333;
				opacity: 0.4;
			}
			.arrowTransform {
				transform: rotateZ(0deg);
				transform-origin: center 50%;
			}
			.arrowTransformReturn {
				transition: transform 0.3s linear;
				transform-origin: center 50%;
				transform: rotateZ(180deg);
			}
		}
		.right {

			height: 60rpx;
			background-color: #ffffff;
			border-radius: 30rpx;
			border: solid 1rpx #e5e5e5;
			display: flex;
			align-items: center;
			justify-content: space-between;
			padding-left: 25rpx;
			padding-right: 21rpx;
			.date-time {
				font-size: 22rpx;
				color: #666666;
			}
			.arrowTransform {
				transition: 0.2s;
				transform-origin: center center;
				transform: rotateZ(0deg);
				margin-left: 6rpx;
				color: #333333;
				opacity: 0.4;
			}
			.arrowTransformReturn {
				transition: 0.2s;
				transform-origin: center center;
				transform: rotateZ(180deg);
				margin-left: 6rpx;
				color: #333333;
				opacity: 0.4;
			}
		}
	}
	.tabs {
		.tabTitle {
			padding-bottom: 28rpx;
			font-size: 34rpx;
		}
		.active {
			color: inherit;
			border-bottom: 4rpx solid #f000ee;
		}
	}
	.box {
		padding: 0 35rpx;
		height: 70rpx;
		line-height: 70rpx;
		display: flex;
		justify-content: space-between;
		align-items: center;
		font-size: 28rpx;
		color: #666666;
		border-top: 1rpx solid #e7e7e7;
		border-bottom: 0.5rpx solid #e7e7e7;
		background-color: #fafafa;
	}
	.flex {
		display: flex;
		justify-content: space-between;
		align-items: center;
		padding: 15rpx 36rpx;
		
		text {
			font-size: 28rpx;
			color: #666666;
			&:last-child {
				color: #ff5d16;
			}
		}
		&:first-child {
			padding-top: 30rpx;
		}
	}
}
</style>
