<template>
	<view class="service">
		<web-view :src="url"></web-view>
	</view>
</template>

<script>

	export default {
        data() {
            return {
				url: '/hybrid/html/service.html?data=123&page=2'
            }
        },
        onLoad(data) {
			this.url += encodeURIComponent(data);
        },
		methods: {
			message(event) {

			}
		}
    }
</script>