/* sass公共复合写法 */

/* 全局盒子宽高样式 */
@mixin wh($width, $height) {
	width: $width;
	height: $height;
}

/* 外边距样式 */
@mixin mg($top, $right, $bottom, $left) {
	margin-top: $top;
	margin-left: $left;
	margin-bottom: $bottom;
	margin-right: $right;
}

/* 内填充样式 */
@mixin pg($top, $right, $bottom, $left) {
	padding-top: $top;
	padding-left: $left;
	padding-bottom: $bottom;
	padding-right: $right;
}

/* flex布局 */
@mixin dl($flex, $Arranged, $justify, $align) {
	display: $flex;
	flex-flow: $Arranged;
	justify-content: $justify;
	align-items: $align;
}

/* 定位布局 */
@mixin position($relative, $top, $right, $bottom, $left) {
	position: $relative;
	top: $top;
	right: $right;
	bottom: $bottom;
	left: $left;
}

/* 多列布局 */
@mixin col($count, $gap, $span, $avoid) {
	column-count: $count;
	column-gap: $gap;
	column-span: $span; //代表横向将标题合并，跨列合并。
	column-break-inside: $avoid;
}

