<template>
	<view class="set">
		<u-navbar :is-back="true" title="设置" title-size="36rpx" :is-fixed="true" title-color="#282828" back-icon-color="#282828" style="font-weight: bold;"></u-navbar>
		<view class="set_list">
			<view class="box" @click="goPersonal">
				<view class="padding">
					<text class="text1">个人资料</text>
					<text class="iconfont">&#xe7d9;</text>
				</view>
			</view>
			<view class="box" @click="goEditAccount">
				<view class="padding">
					<text class="text1">账号与安全</text>
					<text class="iconfont">&#xe7d9;</text>
				</view>
			</view>
			<view class="box" @click="open">
				<view class="padding" style="border: none;">
					<text class="text1">清除缓存</text>
					<text class="text2">{{fileSizeString}}</text>
				</view>
			</view>
			<view class="box" style="margin-top: 20rpx;">
				<view class="padding">
					<text class="text1">法律条款与隐私政策</text>
					<text class="iconfont">&#xe7d9;</text>
				</view>
			</view>
			<view class="box" @click="goMsgSet">
				<view class="padding">
					<text class="text1">消息提醒设置</text>
					<text class="iconfont">&#xe7d9;</text>
				</view>
			</view>
			<view class="box">
				<view class="padding" style="border: none;">
					<text class="text1">非WIFI下自动播放视频</text>
					<switch checked @change="switch1Change" color="#ff5d16" />
				</view>
			</view>
			<view class="box" style="margin-top: 20rpx;">
				<view class="padding">
					<text class="text1">联系我们</text>
					<text class="iconfont">&#xe7d9;</text>
				</view>
			</view>
			<view class="box">
				<view class="padding" style="border: none;">
					<text class="text1">关于我们</text>
					<text class="iconfont">&#xe7d9;</text>
				</view>
			</view>
		</view>
		<button class="out-btn">退出</button>
	</view>
</template>

<script>
export default {
	components: {},
	data() {
		return {
			show: false,
			fileSizeString: 0
		};
	},
	computed: {},
	watch: {},
	onLoad() {
		this.formatSize();
	},
	onReady() {},
	methods: {
		switch1Change: function(e) {
			console.log('switch1 发生 change 事件，携带值为', e.target.value);
		},
		goPersonal() {
			uni.navigateTo({
				url: '/pages/personal_data/personal_data'
			});
		},
		goEditAccount() {
			uni.navigateTo({
				url: '/pages/EditAccount/EditAccount'
			});
		},
		//消息提醒设置
		goMsgSet() {
			uni.navigateTo({
				url: '/pages/Message_Settings/Message_Settings'
			});
		},
		//清除缓存
		open() {
			this.$showModal({
				title: '提示',
				concent:'确定要清除缓存吗？',
			}).then(res=>{
				let that = this;
				let os = plus.os.name;
				if (os == 'Android') {
					let main = plus.android.runtimeMainActivity();
					let sdRoot = main.getCacheDir();
					let files = plus.android.invoke(sdRoot, 'listFiles');
					let len = files.length;
					for (let i = 0; i < len; i++) {
						let filePath = '' + files[i]; // 没有找到合适的方法获取路径，这样写可以转成文件路径
						plus.io.resolveLocalFileSystemURL(
							filePath,
							function(entry) {
								if (entry.isDirectory) {
									entry.removeRecursively(
										function(entry) {
											//递归删除其下的所有文件及子目录
											uni.showToast({
												title: '缓存清理完成',
												duration: 2000
											});
											that.formatSize(); // 重新计算缓存
										},
										function(e) {
											console.log(e.message);
										}
									);
								} else {
									entry.remove();
								}
							},
							function(e) {
								console.log('文件路径读取失败');
							}
						);
					}
				} else {
					// ios暂时未找到清理缓存的方法，以下是官方提供的方法，但是无效，会报错
					plus.cache.clear(function() {
						uni.showToast({
							title: '缓存清理完成',
							duration: 2000
						});
						that.formatSize();
					});
				}
			}).catch(res=>{
				//取消
			})
		},
		formatSize() {
			let that = this;
			plus.cache.calculate(function(size) {
				let sizeCache = parseInt(size);
				if (sizeCache == 0) {
					that.fileSizeString = '0B';
				} else if (sizeCache < 1024) {
					that.fileSizeString = sizeCache + 'B';
				} else if (sizeCache < 1048576) {
					that.fileSizeString = (sizeCache / 1024).toFixed(2) + 'KB';
				} else if (sizeCache < 1073741824) {
					that.fileSizeString = (sizeCache / 1048576).toFixed(2) + 'MB';
				} else {
					that.fileSizeString = (sizeCache / 1073741824).toFixed(2) + 'GB';
				}
			});
		}
	}
};
</script>

<style lang="scss">
.set {
	overflow: hidden;
	padding-bottom: 40rpx;
	.set_list {
		margin-top: 20rpx;
		overflow: hidden;

		.box {
			padding: 0 35rpx;
			background-color: #fff;
			.padding {
				display: flex;
				justify-content: space-between;
				align-items: center;
				padding: 40rpx 0;
				border-bottom: 0.5rpx solid #e0e0e0;

				.text1 {
					font-size: 34rpx;
					color: #333333;
				}
				.text2 {
					font-size: 30rpx;
					color: #333333;
				}
				.iconfont {
					font-size: 24rpx;
					color: #999999;
				}
			}
		}
	}
	.out-btn {
		width: 678rpx;
		height: 88rpx;
		line-height: 88rpx;
		background-color: #ff5d16;
		box-shadow: 0rpx 8rpx 20rpx 0rpx rgba(255, 93, 22, 0.31);
		border-radius: 10rpx;
		font-size: 36rpx;
		color: #ffffff;
		margin-top: 32rpx;
	}
}
</style>
