<template>
	<view class="password">
		<view class="inner">
			<view class="title">请您输入新手机号验证码</view>
			<view class="tip">验证码已经发送到您的手机</view>
			<view class="tip" style="margin-top: 24rpx;">+86 198 8801 6558</view>
			<view class="input_box"><u-message-input mode="box" :maxlength="6" @finish="finish" @change="change"></u-message-input></view>
			<view class="flex-end">
				<text :class="{ disabled: !this.canClick }" @click="countDown">{{ content }}</text>
			</view>
		</view>
	</view>
</template>

<script>
import inputBox from '@/components/input-box/input-box';
export default {
	components: {
		inputBox
	},
	data() {
		return {
			/* 登录按钮动态样式 */
			loginBth: {
				backgroundColor: '#ff5d16', // 注意驼峰命名，并且值必须用引号包括，因为这是对象
				color: '#FFFFFF'
			},
			/* 获取验证码 */
			content: '获取验证码',
			totalTime: 60,
			canClick: true,
			timer: null
		};
	},
	computed: {},
	watch: {},
	onLoad() {
		//如果是老用户输入验证码之后进入首页，如果是新用户进入忘记密码页面
		if (uni.getStorageSync('yzmtime')) {
			this.totalTime = uni.getStorageSync('yzmtime');
			this.countDown();
		}
	},
	onReady() {},
	methods: {
		/* 点击获取验证码 */
		countDown() {
			if (!this.canClick) return;
			/* 发送获取验证码请求 */
			// this.$request.forgotcode({
			// 	phone: this.phone

			// }).then(res =>{
			// 	res = JSON.parse(res);

			// 	if(res.code === 1) {
			// 		this.$commonFun.msg(res.msg);
			// 	}
			// 	else if(res.code === -1) {
			// 		this.$commonFun.msg(res.msg);
			// 		return
			// 	}
			// 	if(!this.phone) {
			// 		this.$commonFun.msg('手机号不能为空！');
			// 		return
			// 	}
			// 	else if (!(/^1[345789]\d{9}$/.test(this.phone))) {
			// 		this.$commonFun.msg('手机号格式不正确！');
			// 		return
			// 	}
			// },err =>{
			// 	console.log(err)
			// })
			this.canClick = false;
			this.content = this.totalTime + 's后重新发送';
			this.timer = setInterval(() => {
				this.totalTime--;
				uni.setStorageSync('yzmtime', this.totalTime);
				this.totalTime = uni.getStorageSync('yzmtime');
				console.log(this.totalTime);
				this.content = this.totalTime + 's后重新发送';
				if (this.totalTime <= 0) {
					clearInterval(this.timer);
					this.content = '重新发送验证码';
					this.totalTime = 60;
					this.canClick = true; //这里重新开启
				}
			}, 1000);
		},
		goIndex() {
			uni.switchTab({
				url: '/pages/index/index'
			});
		}
	}
};
</script>

<style lang="scss">
page {
	background-color: #fff;
}
.inner {
	padding: 174rpx 56rpx;

	.title {
		height: 34rpx;
		font-size: 34rpx;
		line-height: 34rpx;
		color: #282828;
	}

	.tip {
		height: 27rpx;
		font-size: 27rpx;
		line-height: 27rpx;
		color: #999999;
		margin-top: 42rpx;
	}

	.input_box {
		width: 100%;
		display: flex;
		overflow: hidden;
		position: relative;
		margin-top: 68rpx;

		.phone-input {
			flex: 1;
			height: 120rpx;
			line-height: 120rpx;
			font-size: 36rpx;
			border-bottom: 0.5rpx solid #cccccc;
		}
	}

	.login_btn {
		margin-top: 100rpx;
		height: 88rpx;
		line-height: 88rpx;
		box-shadow: 0rpx 8rpx 20rpx 0rpx rgba(255, 65, 22, 0.31);
		border-radius: 10rpx;
		font-size: 36rpx;
	}

	.flex-end {
		margin-top: 29rpx;
		font-size: 30rpx;
		line-height: 38rpx;
		color: #c4c4c6;
		.yzmcolor {
			color: #ff5d16;
		}
	}
}
</style>
