<template>
	<view>
		<view class="full-wrap">
			<view id="map"></view>
			<view class="choose-city">
				<view id="qwe"></view>
				<view class="flex-box">
					<view class="search-box">
						<input
							placeholder="去哪里做账"
							placeholder-style="#c4c4c6"
							type="text"
							name="input"
							@input="searchPos(nowCity)"
							style="padding-left: 20rpx;"
							v-model="searchText"
						/>
						<view class="clear iconfont" v-if="isclear" @click="clearVal">&#xe60b;</view>
					</view>
					<view class="cancel" @click="cancel">取消</view>
				</view>

			</view>
			<view class="search-result-wrap">
				<view
					class="cu-item padding"
					:key="index"
					v-for="(item, index) in cityList"
					@click="chooseHandle(item, index)"
					:style="active == index ? 'background:#FF5E01;' : 'background:#ffffff;'"
				>
					<view class="search-result-content">
						<text class="iconfont icon">&#xe614;</text>
						<text class="list-city-name">{{ item.name }}</text>
						<text class="list-city-address text-gray">{{ item.city + item.address }}</text>
						<text class="iconfont icon2">&#xe612;</text>
					</view>
				</view>
			</view>
			<!-- 城市选择 该插件从插件市场下载 -->
			<mpvue-picker
				:themeColor="themeColor"
				ref="mpvuePicker"
				:mode="mode"
				:deepLength="deepLength"
				:pickerValueDefault="pickerValueDefault"
				@onConfirm="onConfirm"
				@=""
				:pickerValueArray="pickerValueArray"
			></mpvue-picker>
		</view>
	</view>
</template>

<script>
import cityData from '../../common/city.data.js';
import mpvuePicker from '../../components/mpvue-picker/mpvuePicker.vue';
export default {
	components: {
		mpvuePicker
	},
	data() {
		return {
			lat: ' 39.915',
			lng: '116.404',
			posCity: '',
			nowCity: '',
			searchText: '',
			cityList: [],
			pickerValueDefault: [0, 0],
			themeColor: '#007AFF',
			mode: 'multiLinkageSelector',
			deepLength: 2,
			pickerValueArray: cityData,
			isclear: false, //清除输入框按钮
			active: -1
		};
	},
	mounted() {
		// 默认以当前位置为中心
		uni.getLocation({
			geocode: 'true',
			success: res => {
				this.posCity = res.address.city;
				this.nowCity = res.address.city;
				this.lat = res.latitude;
				this.lng = res.longitude;
				this.searchPos(res.address.city);
			}
		});
	},
	methods: {
		//清除输入框内容
		clearVal() {
			this.searchText = '';
		},
		searchPos(cityName) {
			uni.showLoading({
				title: '加载中...',
				mask: true
			})
			setTimeout(() => {
				uni.hideLoading()
			},1500)
			let map = this.$refs.map;
			let searchObj = new plus.maps.Search(map);
			searchObj.onPoiSearchComplete = (state, result) => {
				if (state == 0) {
					if (result.currentNumber <= 0) {
						uni.showToast({
							title: '没有检索到结果',
							icon: 'none'
						});
					}
					this.cityList = [];
					for (let i = 0; i < result.currentNumber; i++) {
						let pos = result.getPosition(i);
						this.cityList.push(pos);
					}
				} else {
					uni.showToast({
						title: '检索失败',
						icon: 'none'
					});
				}
			};
			let pt = new plus.maps.Point(this.lng, this.lat);
			// 默认搜索火车站
			let nowPosCIty = this.searchText ? this.searchText : '火车站';
			searchObj.poiSearchInCity(cityName, nowPosCIty);
		},
		chooseCity() {
			this.$refs.mpvuePicker.show();
		},
		onCancel(e) {
			console.log(e);
		},
		onConfirm(e) {
			let pickerText = e.label.split('-');
			this.searchPos(pickerText[1]);
		},
		chooseHandle(e, index) {
			this.active = index;
			console.log(e);
			// $emit(eventName, data)
			uni.$emit('chooseHandle', {
				chooseLocation: e
			});
			uni.switchTab({
				url: '/pages/index/index'
			});
		},
		cancel() {
			uni.navigateBack({
				delta: -1
			})
		}
	}
};
</script>

<style lang="scss">
#map1 {
	height: 0;
}

.flex-box {
	height: 50px;
	display: flex;
	align-items: center;
}

.now-pos {
	font-size: 30rpx;
	padding: 25rpx;
}

.choose-city {
	width: 100%;
	background-color: #ffffff;
	border-bottom: 0.5px solid #ddd;
	position: fixed;
	left: 0;
	top: 0;
	z-index: 10;
	align-items: center;
	width: 100%;
}

.city-item {
	width: 160rpx;
	color: grey;
	padding: 20rpx 15rpx;
	margin-left: 15rpx;
	border-right: 0.5rpx solid #ddd;
	border-radius: 5rpx;
}

.city {
	font-size: 30rpx;
	margin-top: 8rpx;
}

.down-ico {
	width: 30rpx;
	height: 30rpx;
	position: relative;
	top: 16rpx;
}

.search-result-wrap {
	padding-top: 140rpx;
}

.search-result-content {
	display: flex;
	flex-direction: column;
	padding: 20rpx 0;
	padding-left: 85rpx;
	border-bottom: 0.5rpx solid #ddd;
	position: relative;
	.icon {
		position: absolute;
		left: 20rpx;
		top: 40rpx;
		font-size: 45rpx;
		color: #cbcbcb;
	}
	.icon2 {
		position: absolute;
		right: 20rpx;
		top: 40rpx;
		font-size: 35rpx;
		color: #cbcbcb;
	}
}

#qwe {
	width: 100%;
	height: 50rpx;
	background: #f3f5f8;
}

.search-box {
	flex: 1;
	font-size: 28rpx;
	position: relative;
	padding-left: 20rpx;
}
.cancel {
	padding: 0 35rpx;
	font-size: 30rpx;
	color: #c4c4c6;
	border-left: 1rpx solid #cccccc;
}

.clear {
	position: absolute;
	right: 37rpx;
	top: 9rpx;
	width: 30rpx;
	height: 30rpx;
	line-height: 30rpx;
	text-align: center;
	font-size: 12rpx;
	color: #ffffff;
	border-radius: 50%;
	background-color: #cbcbcb;
}

.list-city-name {
	font-size: 32rpx;
	margin-bottom: 0;
	padding: 0;
}

.list-city-address {
	font-size: 24rpx;
	color: gray;
	margin-top: 0;
}
</style>
