<template>
	<view>
		<u-navbar :is-back="true" title="发票采集" :is-fixed="true" :background="navbarBg" title-color="#ffffff" back-icon-color="#ffffff"></u-navbar>
		<view class="invoice_collect">
			<view class="pictures_box">
				<view class="camera" @click="godetail"></view>
				<view class="title">
					<text>请拍照完成您的</text>
					<text>发票采集</text>
				</view>
			</view>
			<view class="Submission_details">
				<view class="title_box">
					<text class="title">发票提交明细</text>
					<view class="flex">
						<picker mode="date" :value="date" fields="month" @cancel="cencel" @change="bindPickerChange"><view class="date-time" @click="flag = !flag">{{date}}</view></picker>
						<view class="iconfont" :class="{ arrowTransform: !flag, arrowTransformReturn: flag }" src="arrow.png">&#xe68c;</view>
					</view>
				</view>
				<scroll-view class="list" scroll-y="true" :style="{ height: listHeight }">
					<view class="item">
						<view>
							<text>发票代码：123545879878</text>
							<text>发票号码：12354587</text>
						</view>
						<view>
							<text>发票种类：增值税专用发票</text>
							<text>-0.25</text>
						</view>
						<view>
							<text>李明</text>
							<text>2020年5月8日 12:21</text>
						</view>
					</view>
					<view class="item">
						<view>
							<text>发票代码：123545879878</text>
							<text>发票号码：12354587</text>
						</view>
						<view>
							<text>发票种类：增值税专用发票</text>
							<text>-0.25</text>
						</view>
						<view>
							<text>李明</text>
							<text>2020年5月8日 12:21</text>
						</view>
					</view>
					<view class="item">
						<view>
							<text>发票代码：123545879878</text>
							<text>发票号码：12354587</text>
						</view>
						<view>
							<text>发票种类：增值税专用发票</text>
							<text>-0.25</text>
						</view>
						<view>
							<text>李明</text>
							<text>2020年5月8日 12:21</text>
						</view>
					</view>
					<view class="item">
						<view>
							<text>发票代码：123545879878</text>
							<text>发票号码：12354587</text>
						</view>
						<view>
							<text>发票种类：增值税专用发票</text>
							<text>-0.25</text>
						</view>
						<view>
							<text>李明</text>
							<text>2020年5月8日 12:21</text>
						</view>
					</view>
				</scroll-view>
			</view>
		</view>
	</view>
</template>

<script>
export default {
	data() {
		return {
			navbarBg: {
				background: '#fe8754'
			},
			listBoxStyle: `width: 88.5px; height: 23px; font-size: 11px; background-color: #f6f6f6;padding: 6px 10px;`,
			list: ['2020年5月', '2020年6月', '2020年7月', '2020年8月', '2020年9月'],
			listHeight: 0,
			flag: false,
			date: '2020-05'
		};
	},
	computed: {},
	watch: {},
	onLoad() {},
	async onReady() {
		let invoice_collect = await this.$commonFun.getElSize('invoice_collect');
		let title_box = await this.$commonFun.getElSize('title_box');
		/* 获取设备窗口尺寸 */
		uni.getSystemInfo({
			success: res => {
				console.log(res.windowHeight);

				this.listHeight = res.windowHeight - invoice_collect.height - title_box.height - 88 + 'px';
				console.log(this.listHeight);
			}
		});
	},
	methods: {
		visibleChange(isShow) {
			// 列表框的显示隐藏事件
			console.log('isShow::', isShow);
		},
		change({ newVal, oldVal, index, orignItem }) {
			console.log(newVal, oldVal, index, orignItem);
		},
		godetail() {
			uni.navigateTo({
				url: '/pages/invoice_detail/invoice_detail'
			});
		},
		cencel() {
			this.flag = !this.flag;
		},
		bindPickerChange(e) {
			this.flag = !this.flag;
			this.date = e.detail.value;
		}
	}
};
</script>

<style lang="scss">
page {
	background-color: #fff;
}
.invoice_collect {
	padding: 0 36rpx;
	width: 100%;
	height: 400rpx;
	background-image: linear-gradient(#fe8754, #fcfafc);
	.pictures_box {
		width: 100%;
		height: 347rpx;
		background-color: #ffffff;
		box-shadow: 0rpx 4rpx 13rpx 0rpx rgba(255, 93, 22, 0.1);
		border-radius: 10rpx;
		display: flex;
		flex-flow: column;
		align-items: center;
		.camera {
			width: 190rpx;
			height: 178rpx;
			background: url('~@/static/images/invoice_collect/camera.png') no-repeat;
			background-size: 100% 100%;
			margin-top: 47rpx;
		}
		.title {
			margin-top: 28rpx;
			text {
				font-size: 30rpx;
				color: #333333;
				&:last-child {
					color: #ff5d16;
				}
			}
		}
	}
	.Submission_details {
		padding: 0 35rpx;
		background-color: #fff;
		border-radius: 10rpx;
		margin-top: 20rpx;
		box-shadow: 0rpx 4rpx 13rpx 0rpx rgba(255, 93, 22, 0.1);
		.title_box {
			display: flex;
			align-items: center;
			justify-content: space-between;
			padding: 29rpx 0;

			.title {
				font-size: 30rpx;
				color: #333333;
				font-weight: bold;
			}
			.flex {
				height: 60rpx;
				display: flex;
				align-items: center;
				background-color: #f6f6f6;
				border-radius: 30rpx;
				padding: 0 20rpx;
				.date-time {
					font-size: 22rpx;
					color: #999999;
				}
				.arrowTransform {
					transition: 0.2s;
					transform-origin: center center;
					transform: rotateZ(0deg);
					margin-left: 6rpx;
					color: #333333;
					opacity: 0.4;
				}
				.arrowTransformReturn {
					transition: 0.2s;
					transform-origin: center center;
					transform: rotateZ(180deg);
					margin-left: 6rpx;
					color: #333333;
					opacity: 0.4;
				}
			}
		}
		.list {
			overflow-y: scroll;
			.item {
				border-top: 0.5rpx solid #e8e8e8;
				padding-top: 35rpx;
				view {
					display: flex;
					justify-content: space-between;
					align-items: center;
					padding: 35rpx 0;
					padding-top: 0;
					text {
						font-size: 24rpx;
						color: #666666;
					}
				}
			}
		}
	}
}
</style>
