<template>
	<view>
		<u-navbar :is-back="true" title="" :is-fixed="true" :background="navbarBg" back-icon-color="#ffffff">
			<view class="navbar-right" slot="right"><view class="set-btn iconfont" @click="goset">&#xe64d;</view></view>
		</u-navbar>
		<view class="vault">
			<view class="total_assets">
				<text>总资产 (元)</text>
				<text style="font-weight: bold;">18,778,66</text>
				<view @click="withdraw_cash">提 现</view>
			</view>
			<view class="Cumulative_amount">
				<text>累计赚到</text>
				<text>¥ 18,778,66</text>
			</view>
			<view class="list">
				<view class="title">
					<view class="flex">
						<picker mode="date" :value="curdate" fields="month" @cancel="cencel" @change="bindPickerChange"><view class="date-time" @click="flag = !flag">{{curdate}}</view></picker>
						<view class="iconfont arrLeft-fill" :class="{ arrowTransform: !flag, arrowTransformReturn: flag }">&#xe68c;</view>
					</view>
					<text>累计提现 ¥600</text>
				</view>
				<hr-pull-load
					@refresh="refresh"
					@loadMore="loadMore"
					:height="listHeight + 'px'"
					:pullHeight="50"
					:maxHeight="100"
					:lowerThreshold="100"
					:bottomTips="bottomTips"
					:isTab="false"
					ref="hrPullLoad"
					@scroll="listenScroll"
					:scrollTop="scrollTop"
					upDownBgColor="#ffffff"
					pullDownBgColor="#ffffff"
				>
					<view class="item" v-for="(item,index) in cashlist" :key="index">
						<view class="top">
							<view>
								<text class="iconfont weixin" :class="[item.type === 1 ? 'weixin' : 'zhifubao']">&#xe60c;</text>
								<text>零钱提现</text>
							</view>
							<text>¥ {{item.price}}</text>
						</view>
						<view class="bottom">{{item.time}}</view>
					</view>
				</hr-pull-load>
			</view>
		</view>
	</view>
</template>

<script>
export default {
	data() {
		return {
			navbarBg: {
				background: '#fe8754'
			},
			listBoxStyle: `width: 90px; height: 23px; font-size: 15px; border:none;`,
			list: ['2020-05', '2020-06', '2020-07', '2020-08', '2020-09'],
			cashlist: [],
			listHeight: 0,
			style: `color: red;`,
			flag: false,
			bottomTips: '',
			currentPage: 1,
			scrollTop: 0,
			upDownBgColor: '#f3f5f8',
			curdate: this.$u.date(new Date().getTime(), 'yyyy-mm')
		};
	},
	computed: {},
	watch: {},
	onLoad() {
		this.getExampleData(1);
	},
	async onReady() {
		var that = this;
		let vault = await that.$commonFun.getElSize('vault');
		let title = await that.$commonFun.getElSize('title');
		let navbar = await that.$commonFun.getElSize('u-navbar-inner');
		uni.getSystemInfo({
			success(res) {
				that.listHeight = res.windowHeight - vault.height - title.height - navbar.height - 88;
			}
		});
		console.log(vault);
	},
	methods: {
		listenScroll(e) {
			// this.scrollTop = e;
		},
		goset() {
			uni.navigateTo({
				url: '/pages/vault_seting/vault_seting'
			});
		},
		change({ newVal, oldVal, index, orignItem }) {
			console.log(newVal, oldVal, index, orignItem);
		},
		withdraw_cash() {
			uni.navigateTo({
				url: '/pages/withdraw_cash/withdraw_cash'
			});
		},
		cencel() {
			this.flag = !this.flag;
		},
		bindPickerChange(e) {
			this.flag = !this.flag;
			console.log(e)
			this.curdate = e.detail.value.substring(0,7);
			
		},
		getExampleData(type) {
			/* type 1代表下拉刷新 2代表加载更多 */
			setTimeout(() => {
				/* 接口获取到的数据 */
				let data = [
					{
						type: 1,
						price: 200,
						time: '2020年5月22日 16:45'
					},{
						type: 2,
						price: 200,
						time: '2020年5月22日 16:30'
					},
					{
						type: 1,
						price: 200,
						time: '2020年5月22日 16:45'
					},{
						type: 2,
						price: 200,
						time: '2020年5月22日 16:30'
					},
					{
						type: 1,
						price: 200,
						time: '2020年5月22日 16:45'
					},{
						type: 2,
						price: 200,
						time: '2020年5月22日 16:30'
					},
					{
						type: 1,
						price: 200,
						time: '2020年5月22日 16:45'
					},{
						type: 2,
						price: 200,
						time: '2020年5月22日 16:30'
					},
					{
						type: 1,
						price: 200,
						time: '2020年5月22日 16:45'
					},{
						type: 2,
						price: 200,
						time: '2020年5月22日 16:30'
					}
				];
				/* 拿到数据后的处理 */
				if (data.length > 0) {
					if (type == 1) {
						this.cashlist = data;
					} else if (type == 2) {
						this.cashlist = this.cashlist.concat(data);
					}
					/* 这里的20是每次调用后台接口返回的最大数据条数，可以自定义 */
					if (this.cashlist.length < 3) {
						this.bottomTips = 'nomore';
					} else {
						this.bottomTips = 'more';
					}
				} else {
					if (type == 1) {
						this.cashlist = [];
					} else if (type == 2) {
						this.currentPage--;
					}
					this.bottomTips = 'nomore';
				}
				/* 这里300毫秒的延时，主要是为了优化视觉效果 */
				setTimeout(() => {
					this.$refs.hrPullLoad.reSet();
				}, 300);
			}, 500);
		},
		//自定义上拉加载更多
		loadMore() {
			this.currentPage++;
			this.bottomTips = 'loading';
			this.getExampleData(2);
		},
		//自定义下拉刷新
		refresh() {
			this.currentPage = 1;
			this.getExampleData(1);
		}
	}
};
</script>

<style lang="scss">
page {
	background-color: #fff;
}
.vault {
	width: 100%;
	height: 400rpx;
	background-image: linear-gradient(#fe8754, #fcfafc);
	padding: 32rpx 36rpx;
	.total_assets {
		display: flex;
		flex-flow: column;
		align-items: center;
		text {
			&:first-child {
				font-size: 24rpx;
				color: #ffffff;
			}
			&:nth-child(2) {
				font-size: 70rpx;
				color: #ffffff;
				margin-top: 31rpx;
			}
		}
		view {
			width: 277rpx;
			height: 75rpx;
			line-height: 75rpx;
			background-image: linear-gradient(0deg, #fcfafc 0%, #ffe2d9 100%), linear-gradient(#fcfafc, #fcfafc);
			background-blend-mode: normal, normal;
			box-shadow: 0rpx 2rpx 4rpx 0rpx rgba(255, 93, 22, 0.23);
			border-radius: 38rpx;
			text-align: center;
			font-size: 30rpx;
			color: #ff5d16;
			font-weight: bold;
			margin-top: 43rpx;
		}
	}
	.Cumulative_amount {
		display: flex;
		justify-content: space-between;
		height: 136rpx;
		line-height: 136rpx;
		background-color: #ffffff;
		box-shadow: 0rpx 4rpx 13rpx 0rpx rgba(255, 93, 22, 0.1);
		border-radius: 10rpx;
		margin-top: 35rpx;
		padding: 0 78rpx;
		text {
			&:first-child {
				font-size: 30rpx;
				color: #666666;
				font-weight: bold;
				position: relative;
				padding-right: 102rpx;

				&::after {
					content: '';
					display: block;
					width: 1rpx;
					height: 61rpx;
					background-color: #e8e8e8;
					position: absolute;
					right: 0rpx;
					top: 50%;
					transform: translateY(-50%);
				}
			}
			&:last-child {
				font-size: 32rpx;
				color: #ff5d16;
				font-weight: bold;
			}
		}
	}
	.list {
		overflow: hidden;
		.title {
			padding-top: 84rpx;
			padding-bottom: 44rpx;
			display: flex;
			justify-content: space-between;
			align-items: center;
			font-size: 30rpx;
			color: #333333;
			text {
				&:last-child {
					font-size: 26rpx;
					color: #999999;
				}
			}
			.flex {
				display: flex;
				align-items: center;
				.arrLeft-fill {
					margin-left: 15rpx;

					color: #333333;
					opacity: 0.6;
				}
				.arrowTransform {
					transition: 0.2s;
					transform-origin: center center;
					transform: rotateZ(0deg);
					margin-left: 6rpx;
					color: #666666;
				}
				.arrowTransformReturn {
					transition: 0.2s;
					transform-origin: center center;
					transform: rotateZ(180deg);
					margin-left: 6rpx;
					color: #666666;
				}
			}
		}
		.item {
			padding-top: 48rpx;
			padding-bottom: 41rpx;
			border-top: 1rpx solid #e8e8e8;
			.top {
				display: flex;
				justify-content: space-between;
				align-items: center;
				font-size: 30rpx;
				color: #333333;
				view {
					text {
						&.weixin {
							font-size: 32rpx;
							color: #0fb906;
							margin-right: 11rpx;
						}
						&.zhifubao {
							font-size: 32rpx;
							color: #1296db;
							margin-right: 11rpx;
						}
					}
				}
				text {
					&:last-child {
						font-weight: bold;
					}
				}
			}
			.bottom {
				margin-top: 22rpx;
				font-size: 24rpx;
				color: #999999;
			}
		}
	}
}
</style>
